<% if cart.product_carts.blank? %>
  <section class="rounded-md cart-popup bg-white shadow-md mx-auto py-3">
    <h6 class="text-center font-baloo font-bold f4 m-0 p-0">NO ITEMS IN CART</h6>
  </section>
<% else %>
  <section class="rounded-md cart-popup bg-white shadow-md mx-auto py-3">
    <div id="cart-popup-items">
      <% cart.product_carts.each do |product_cart| %>
        <div class="flex mx-3 p-0 my-1 shadow-md flex-grow-1 rounded-md justify-between pr-3">
          <div class="flex">
            <div>
              <%= image_tag(product_first_img(product_cart.product), width: 64, height: 64) %>
            </div>
            <div class="ml-3 flex flex-column justify-center">
              <p class="my-0"><%= product_cart.product.product_meta.product_detail.name %></p>
              <p class="fw6 f6">
                <span class="text-gray-600 opacity-50"> <%= product_cart.quantity > 1 ? "#{product_cart.quantity} x " : "" %></span><%= number_to_currency(product_cart.product.price) %>
              </p>
            </div>
          </div>
          <div class="flex align-items-center">
            <i class="fa fa-times-circle fa-lg"></i>
          </div>
        </div>
      <% end %>
    </div>
    <h6 class="text-center mt-3 font-baloo font-bold f4">Subtotal:
      <span id="cart-popup-subtotal" class="font-baloo font-bold f3"><%= cart.subtotal %></span></h6>
    <div class="button-wishlist text-center flex justify-center mx-6 my-3">
      <%= link_to shopping_cart_orders_path, class: "link-no-style" do %>
        <button class="flex font-roboto f6 outline-none-imp font-weight-bold align-items-center duration-500">
          <i class="fa fa-shopping-cart mr-3 duration-500"></i>VIEW CART
        </button>
      <% end %>

    </div>
    <div class="button-wishlist flex justify-center mx-6 my-3">
      <%= link_to new_order_path, class: "link-no-style" do %>
        <button type="submit" class="flex font-roboto f6 outline-none-imp font-weight-bold align-items-center duration-500">
          <i class="fa fa-heart mr-3 duration-500"></i>CHECK OUT
        </button>
      <% end %>
    </div>

  </section>
<% end %>

