<footer class="background-dark text-semi-white">

  <div class="flex mx-5 py-4 child-pr-2-not-first">

    <div class="w-4/12">
      <div class="break-bottom mt-3">
        <h6 class="title uppercase font-bold break-bottom">how we got started</h6>
      </div>
    </div>

    <div class="w-4/12">
      <div class="break-bottom mt-3">
        <h6 class="title uppercase font-bold break-bottom">how we got started</h6>
      </div>
    </div>

    <div class="w-4/12">
      <div class="break-bottom mt-3">
        <h6 class="title uppercase font-bold break-bottom">how we got started</h6>
      </div>
    </div>

    <div class="w-4/12">
      <div class="break-bottom mt-3">
        <h6 class="title uppercase font-bold break-bottom">how we got started</h6>
      </div>
    </div>

  </div>

  <div class="flex mx-5 child-pr-2-not-first">

    <div class="w-4/12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet commodi consectetur ex explicabo
        fugiat hic inventore itaque iusto magnam, nam neque nihil, quas quasi quia saepe sequi unde! Debitis.</p>
    </div>

    <div class="w-4/12">

      <div class="flex m-0 p-0 my-3">
        <%= image_tag('blog post 2.jpg', width: 32, height: 32, class: 'rounded') %>
        <p class="ml-3">Good Places To Study</p>
      </div>

      <div class="flex m-0 p-0 my-3">
        <%= image_tag('blog post 3.jpg', width: 32, height: 32, class: 'rounded') %>
        <p class="ml-3">New Camera</p>
      </div>

      <div class="flex m-0 p-0 my-3">
        <%= image_tag('banner 2.jpg', width: 32, height: 32, class: 'rounded') %>
        <p class="ml-3">Top Best Laptops</p>
      </div>

    </div>

    <div class="w-4/12">

      <div class="flex m-0 p-0 my-3">
        <div class="bg-product-img">
          <%= image_tag('product-09-414x414.jpg', width: 64, height: 64, class: 'mix-blend-darken') %>
        </div>
        <div class="ml-3">
          <p class="my-0">i-Phonez</p>
          <p class="fw6 f5 mt-2">$600.00</p>
        </div>
      </div>


      <div class="flex m-0 p-0 my-3">
        <div class="bg-product-img">
          <%= image_tag('product-10-300x330.jpg', width: 64, height: 64, class: 'mix-blend-darken') %>
        </div>
        <div class="ml-3">
          <p class="my-0">Samsung Phonez</p>
          <p class="fw6 f5 mt-2">$400.00</p>
        </div>

      </div>

      <div class="flex m-0 p-0 my-3">
        <div class="bg-product-img">
          <%= image_tag('product_5.jpg', width: 64, height: 64, class: 'mix-blend-darken') %>
        </div>

        <div class="ml-3">
          <p class="my-0">i-Phonez</p>
          <p class="fw6 f5 mt-2">$1000.00</p>
        </div>

      </div>

      <div class="flex m-0 p-0 my-3">
        <div class="bg-product-img">
          <%= image_tag('phone_1.jpeg', width: 64, height: 64, class: 'mix-blend-darken') %>
        </div>

        <div class="ml-3">
          <p class="my-0">Laptop</p>
          <p class="fw6 f5 mt-2">$800.00</p>
        </div>

      </div>

    </div>

    <div class="w-4/12">

      <label for="">Email address:</label>
      <input type="email" class="w-9/12">

      <button class="rounded-md mt-4 background-black px-5 text-white py-2 font-bold">Sign up</button>

    </div>

  </div>


</footer>