<br>
<br>

<footer class="background-dark text-semi-white mt-br pt-3">

  <div class="row mx-5 my-4">

    <div class="col-3">
      <div class="break-bottom mt-3">
        <h6 class="title text-uppercase font-weight-bold break-bottom">how we got started</h6>
      </div>

    </div>

    <div class="col-3">
      <div class="break-bottom mt-3">
        <h6 class="title text-uppercase font-weight-bold break-bottom">how we got started</h6>
      </div>

    </div>

    <div class="col-3">
      <div class="break-bottom mt-3">
        <h6 class="title text-uppercase font-weight-bold break-bottom">how we got started</h6>
      </div>

    </div>

    <div class="col-3">
      <div class="break-bottom mt-3">
        <h6 class="title text-uppercase font-weight-bold break-bottom">how we got started</h6>
      </div>

    </div>

  </div>


  <div class="row mx-5 mt-4">

    <div class="col-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet commodi consectetur ex explicabo
        fugiat hic inventore itaque iusto magnam, nam neque nihil, quas quasi quia saepe sequi unde! Debitis.</p>
    </div>

    <div class="col-3">

      <div class="row m-0 p-0 my-3">
        <%= image_tag('blog post 2.jpg', width: 32, height: 32, class: 'rounded') %>
        <p class="ml-3">Good Places To Study</p>
      </div>

      <div class="row m-0 p-0 my-3">
        <%= image_tag('blog post 3.jpg', width: 32, height: 32, class: 'rounded') %>
        <p class="ml-3">New Camera</p>
      </div>

      <div class="row m-0 p-0 my-3">
        <%= image_tag('banner 2.jpg', width: 32, height: 32, class: 'rounded') %>
        <p class="ml-3">Top Best Laptops</p>
      </div>

    </div>

    <div class="col-3">

      <div class="row m-0 p-0 my-3">
        <div>
          <%= image_tag('product-09-414x414.jpg', width: 64, height: 64) %>
        </div>
        <div class="ml-3">
          <p class="my-0">i-Phonez</p>
          <p class="fw6 f3">$600.00</p>
        </div>

      </div>


      <div class="row m-0 p-0 my-3">
        <%= image_tag('product-10-300x330.jpg', width: 64, height: 64) %>
        <div class="ml-3">
          <p class="my-0">Samsung Phonez</p>
          <p class="fw6 f3">$400.00</p>
        </div>

      </div>

      <div class="row m-0 p-0 my-3">
        <%= image_tag('product_5.jpg', width: 64, height: 64) %>
        <div class="ml-3">
          <p class="my-0">i-Phonez</p>
          <p class="fw6 f3">$1000.00</p>
        </div>

      </div>

      <div class="row m-0 p-0 my-3">
        <%= image_tag('phone_1.jpeg', width: 64, height: 64) %>
        <div class="ml-3">
          <p class="my-0">Laptop</p>
          <p class="fw6 f3">$800.00</p>
        </div>

      </div>

    </div>

    <div class="col-3">

      <label for="">Email address:</label>
      <input type="email" class="w-75">

      <div class="btn mt-3 background-black text-white fw7">Sign up</div>

    </div>

  </div>


</footer>