<!--<nav class="navbar navbar-expand-lg z-top navbar-dark bg-dark">-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">-->
<!--    <a class="navbar-brand" href="#">Hidden brand</a>-->
<!--    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->

<nav class="navbar w-100 navbar-expand-lg py-3 navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse md:row" id="navbarSupportedContent">
    <ul class="navbar-nav col-md-6 mt-2 mt-lg-0 mt-2 list-unstyled text-white">
      <li class="nav-item">
        <div class="icon">
          <i class="fas fa-search"></i>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "f5 font-weight-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", class: "f5 font-weight-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "MyAccount", class: "f5 font-weight-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "Shop", products_path, class: "f5 font-weight-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "Product", new_product_path, class: "f5 font-weight-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", class: "f5 font-weight-bold" %>
      </li>
    </ul>
  </div>


  <div class="col-3 justify-content-center">
    <h3 class="text-uppercase font-elia font-weight-bold f3 m-0">My Shop</h3>
  </div>
  <div class="col-sm-5 col-md-3">
    <div class="row justify-content-end">
      <div class="row mr-4">
        <h6 class="font-fredoka f4 font-weight-bold m-0 mr-1 d-flex justify-content-center flex-column">Guys Girl</h6>
        <%= image_tag("portrait-3204843_640.jpg", class: "rounded-circle img-avatar-small") %>
      </div>
      <div class="row m-0">
        <div class="d-flex font-roboto outline-none-imp font-weight-bold align-items-center duration-500">
          <i class="fa fa-lg fa-shopping-cart mr-3 duration-500">&nbsp;/</i>
<!--          <form action="<%#= cart_view_cart_path %>" data-remote="true" method="post" remote="true">-->
<!--            <div class="d-flex justify-center button-wishlist px-2 py-2 my-3">-->
              <button type="submit" class="d-inline-block cart-items" id="cart-items">
                <%= cart_items %>
              </button>
<!--            </div>-->
<!--          </form>-->
          <%#= button_to cart_items, view_cart_cart_index_path, remote: :true, class: "d-inline-block cart-items", id: "cart_items" %>
<!--          <div class="d-inline-block cart-items" id="cart-items"><%#= cart_items %></div>-->
          </div>
      </div>

      <!-- Cart Popup -->

      <%# unless @product_carts.nil? %>
        <div id="cart-popup-container" class="position-absolute w-full shadow-2xl rounded-md z-40 mt-12">
          <section class="rounded-md cart-popup bg-white shadow-md mx-auto py-3">
            <div id="cart-popup-items">
              <div class="d-flex mx-3 p-0 my-1 shadow-md flex-grow-1 rounded-md justify-between pr-3">
                <div class="d-flex">
                  <div>
                    <%= image_tag('product-09-414x414.jpg', width: 64, height: 64) %>
                  </div>
                  <div class="ml-3 d-flex flex-column justify-content-center">
                    <p class="my-0">i-Phonez</p>
                    <p class="fw6 f6">$600.00</p>
                  </div>

                </div>
                <div class="d-flex align-items-center">
                  <i class="fa fa-times-circle fa-lg"></i>
                </div>


              </div>
              <div class="d-flex mx-3 p-0 my-1 shadow-md flex-grow-1 rounded-md justify-between pr-3">
                <div class="d-flex">
                  <div>
                    <%= image_tag('product-09-414x414.jpg', width: 64, height: 64) %>
                  </div>
                  <div class="ml-3 d-flex flex-column justify-content-center">
                    <p class="my-0">i-Phonez</p>
                    <p class="fw6 f6">$600.00</p>
                  </div>

                </div>
                <div class="d-flex align-items-center">
                  <i class="fa fa-times-circle fa-lg"></i>
                </div>


              </div>
              <div class="d-flex mx-3 p-0 my-1 shadow-md flex-grow-1 rounded-md justify-between pr-3">
                <div class="d-flex">
                  <div>
                    <%= image_tag('product-09-414x414.jpg', width: 64, height: 64) %>
                  </div>
                  <div class="ml-3 d-flex flex-column justify-content-center">
                    <p class="my-0">i-Phonez</p>
                    <p class="fw6 f6">$600.00</p>
                  </div>

                </div>
                <div class="d-flex align-items-center">
                  <i class="fa fa-times-circle fa-lg"></i>
                </div>

              </div>
            </div>
           <h6 class="text-center mt-3 font-baloo font-bold f4">Subtotal: <span id="cart-popup-subtotal" class="font-baloo font-bold f3">$1800</span></h6>
            <div class="button-wishlist text-center d-flex justify-content-center mx-6 my-3">
              <button type="submit" class="d-flex font-roboto f6 outline-none-imp font-weight-bold align-items-center duration-500">
                <i class="fa fa-shopping-cart mr-3 duration-500"></i>VIEW CART
              </button>
            </div>
            <div class="button-wishlist d-flex justify-content-center mx-6 my-3">
              <button type="submit" class="d-flex font-roboto f6 outline-none-imp font-weight-bold align-items-center duration-500">
                <i class="fa fa-heart mr-3 duration-500"></i>CHECK OUT
              </button>
            </div>

          </section>

        </div>
      <%#  end %>
      <!-- !Cart Popup -->

    </div>

  </div>


</nav>