<!-- General Attr Tab -->
<div id="general-product-attr">
  <div class="field mt-5">
    <div class="control">
      <%= f.input :regular_price, label: "Regular price ($)", required: false,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>

  <div class="field mt-5">
    <div class="control">
      <%= f.input :sale_price, label: "Sale price ($)", required: false,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>
</div>
<!-- !General Attr Tab -->

<!-- Inventory Attr Tab -->
<div id="inventory-product-attr">
  <div class="field mt-5">
    <div class="control">
      <%= f.input :sku, label: "SKU", required: true,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>

  <div class="field mt-5">
    <div class="control">
      <%= f.input :manage_stock, label: "Manage Stock?", required: false,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>

  <div class="field mt-5">
    <div class="control">
      <%= f.input :sale_price, label: "Sale price ($)", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>
</div>
<!-- !Inventory Attr Tab -->

<!-- Shipping Attr Tab -->
<div id="shipping-product-attr">
  <div class="field mt-5">
    <div class="control">
      <%= f.input :weight, label: "Weights (kg)", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>
  <div class="columns">
    <div class="field mt-5 w-4/12">
      <div class="control">
        <%= f.input :manage_stock, label: "Length", required: false,
                    input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
      </div>
    </div>

    <div class="field mt-5 w-4/12">
      <div class="control">
        <%= f.input :manage_stock, label: "Width", required: false,
                    input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
      </div>
    </div>

    <div class="field mt-5 w-4/12">
      <div class="control">
        <%= f.input :manage_stock, label: "Height", required: false,
                    input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
      </div>
    </div>
  </div>

  <div class="field mt-5">
    <div class="control">
      <%= f.input :shipping_class, label: "Shipping Class", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>
</div>
</div>
<!-- !Shipping Attr Tab -->

<!-- Link Product Tab -->
<div id="link-product-attr">
  <div class="field mt-5">
    <div class="control">
      <%= f.input :upsells, label: "Upsells", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>

  <div class="field mt-5">
    <div class="control">
      <%= f.input :cross_sells, label: "Cross sells", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>
</div>
<!-- !Link Product Tab -->

<!-- Advanced Product Tab -->
<div id="advanced-product-attr">
  <div class="field mt-5">
    <div class="control">
      <%= f.input :purchase_note, label: "Purchase note", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>

  <div class="field mt-5">
    <div class="control">
      <%= f.input :menu_order, label: "Menu order", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>
</div>
<!-- !Advanced Product Tab -->

<!-- Extra Product Tab -->
<div id="extra-product-attr">
  <div class="field mt-5">
    <div class="control">
      <%= f.input :custom_bubbles, label: "Custom Bubble", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>

  <div class="field mt-5">
    <div class="control">
      <%= f.input :custom_bubbles_title, label: "Custom Bubbles Title", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>

  <div class="field mt-5">
    <div class="control">
      <%= f.input :custom_tab_title, label: "Custom Tab Title", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>

  <div class="field mt-5">
    <div class="control">
      <%= f.input :custom_tab_content, label: "Custom Tab Content", required: false ,
                  input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
    </div>
  </div>
</div>

<div class="field mt-5">
  <div class="control">
    <%= f.input :product_video_path, label: "Product Video Url", required: false ,
                input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
  </div>
</div>

<div class="field mt-5">
  <div class="control">
    <%= f.input :top_content, label: "Custom Tab Title", required: false ,
                input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
  </div>
</div>

<div class="field mt-5">
  <div class="control">
    <%= f.input :bottom_contetn, label: "Custom Tab Title", required: false ,
                input_html: {class: "input w-full"}, wrapper: false, label_html: {class: "label text-left w-full"} %>
  </div>
</div>
<!-- !Extra Product Tab -->