<!-- Service -->

<section class="mx-auto my-3 font-weight-lighter w-11/12">
  <div class="d-flex mx-auto mt-12">
    <div class="col-4 text-center">
      <i class="fas fa-dolly fa-3x"></i>
      <div class="h5 my-3">Priority Shipping</div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
    </div>

    <div class="col-4 text-center">
      <i class="fas fa-balance-scale fa-3x"></i>
      <div class="h5 my-3">Fuss Free Returns</div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
    </div>
    <div class="col-4 text-center">
      <i class="fas fa-user-cog fa-3x"></i>
      <div class="h5 my-3">In Home Setup</div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
    </div>

  </div>

  <!-- Service -->

  <div class="d-flex text-white mbr mx-auto border-dark p-0 my-0">
    <div class="col-lg-5 col-sm-12 my-3 cursor-pointer">
      <div class="h-100 img-container ">
        <%= image_tag("Image-28.jpg", alt: "Hero 1", class: "img-banner h-100") %>
      </div>
      <div class="center-inner z-10 text-white w-100">
        <h5>50% OFF TODAY</h5>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 my-3 p-0 cursor-pointer">
      <div class="h-100 img-container">
        <%= image_tag("blog post 3.jpg", alt: "Hero 1", class: "img-banner h-100") %>
      </div>
      <div class="center-inner z-10 text-white w-100 px-2">
        <h5>Discounted Laptops</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate deserunt dicta et expedita
          explicabo harum id in ipsa</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 my-3 cursor-pointer">
      <div class="h-100 img-container">
        <%= image_tag("hero 1.jpg", alt: "Hero 1", class: "img-banner h-100") %>
      </div>
      <div class="center-inner z-10 text-white w-100">
        <h5>Head Phones</h5>
        <button class="px-3 py-2 bg-gray-100 text-gray-800">Shop Now</button>
      </div>
    </div>

  </div>


  <section class="mbr">
    <h1 class="text-center my-3 font-weight-bold text-uppercase">featured product</h1>
    <div class="row">

      <% @products_view.each do |product_view| %>

        <div class="col-lg-3 col-sm-12 col-md-6 text-center mb-5">
          <div class="text-center cursor-pointer product-card">
            <div class="card opacity-anim overflow-hidden">
              <%= link_to product_path(product_view.product) do %>
                <%= image_tag(product_first_img(product_view), alt: "Product", class: "transform image-product-item-height hover:scale-105 duration-500 object-cover") %>
              <% end %>
              <div class="px-3 mx-1 mt-2">
                <p class="my-0 sub-title text-gray-300 opacity-50 hover:color-hover transform hover:scale-105 duration-200"><%= product_view.category.name %></p>
                <p class="my-0 title hover:color-hover transform hover:scale-105 duration-200"><%= product_view.name %></p>
                <div class="rating text-warning font-size-14">
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                </div>
                <p class="font-weight-bold hover:color-hover transform hover:scale-105 duration-200 font-fredoka f4 my-0"><%= number_to_currency(product_view.product_meta.regular_price) %></p>
                <!--                <div class="custom-btn mx-3 font-fredoka my-2">Add To Cart</div>-->
                <form action="<%= quick_view_product_path(id: product_view.id, product_id: product_view.id) %>" data-remote="true" method="post">
                  <div class="d-flex justify-center button-wishlist px-2 py-2 my-3">
                    <button type="submit" formaction="<%= quick_view_product_path(id: product_view.id, product_id: product_view.id) %>" class="d-flex font-roboto outline-none-imp font-weight-bold align-items-center duration-500">
                      <i class="fa fa-heart mr-2 duration-500"></i>Add to Cart
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>

    <!--    <div class="row">-->
    <!--      <div class="col-lg-3 col-sm-12 col-md-6 text-center">-->
    <!--        <div class="card opacity-anim">-->
    <%#= image_tag("product_4.jpg", alt: "Product", class: "transform image-product-item-height hover:scale-105 duration-500 object-cover") %>
    <!--          <div class="px-3 mx-1">-->
    <!--            <p class="my-0 sub-title">Product Category</p>-->
    <!--            <p class="my-0 title">Product</p>-->
    <!--            <div class="rating text-warning font-size-14">-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--            </div>-->
    <!--            <p class="font-weight-bold f3 my-0">$300.00</p>-->
    <!--            <div class="custom-btn mx-3">Add To Cart</div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="col-lg-3 col-sm-12 col-md-6 text-center">-->
    <!--        <div class="card opacity-anim">-->
    <%#= image_tag("product_4.jpg", alt: "Product", class: "transform image-product-item-height hover:scale-105 duration-500 object-cover") %>
    <!--          <div class="px-3 mx-1">-->
    <!--            <p class="my-0 sub-title">Product Category</p>-->
    <!--            <p class="my-0 title">Product</p>-->
    <!--            <div class="rating text-warning font-size-14">-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--            </div>-->
    <!--            <p class="font-weight-bold f3 my-0">$300.00</p>-->
    <!--            <div class="custom-btn mx-3">Add To Cart</div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="col-lg-3 col-sm-12 col-md-6 text-center">-->
    <!--        <div class="card opacity-anim">-->
    <%#= image_tag("product_4.jpg", alt: "Product", class: "transform image-product-item-height hover:scale-105 duration-500 object-cover") %>
    <!--          <div class="px-3 mx-1">-->
    <!--            <p class="my-0 sub-title">Product Category</p>-->
    <!--            <p class="my-0 title">Product</p>-->
    <!--            <div class="rating text-warning font-size-14">-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--            </div>-->
    <!--            <p class="font-weight-bold f3 my-0">$300.00</p>-->
    <!--            <div class="custom-btn mx-3">Add To Cart</div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="col-lg-3 col-sm-12 col-md-6 text-center">-->
    <!--        <div class="card opacity-anim">-->
    <%#= image_tag("product_4.jpg", alt: "Product", class: "transform image-product-item-height hover:scale-105 duration-500 object-cover") %>
    <!--          <div class="px-3 mx-1">-->
    <!--            <p class="my-0 sub-title">Product Category</p>-->
    <!--            <p class="my-0 title">Product</p>-->
    <!--            <div class="rating text-warning font-size-14">-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--              <span><i class="fas fa-star"></i></span>-->
    <!--            </div>-->
    <!--            <p class="font-weight-bold f3 my-0">$300.00</p>-->
    <!--            <div class="custom-btn mx-3">Add To Cart</div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->

    <!--    </div>-->

  </section>

</section>

<%= render 'shared/new_letter' %>


<section class="mbr mx-auto my-3 font-weight-lighter w-11/12">
  <h1 class="text-center my-3 font-weight-bold text-uppercase">On Sale</h1>
  <div class="row">

    <% @products_view_sale.each do |product_view| %>

      <div class="col-lg-3 col-sm-12 col-md-6 text-center mb-5">
        <div class="text-center cursor-pointer product-card">
          <div class="card opacity-anim overflow-hidden">
            <%= link_to product_path(product_view.product) do %>
              <%= image_tag(product_first_img(product_view.product), alt: "Product", class: "transform image-product-item-height hover:scale-105 duration-500 object-cover") %>
            <% end %>
            <div class="absolute left-1 top-1 width-min rounded-circle bg-gray-800 text-white px-1 py-2 f5 font-extrabold font-roboto">
              <%= p product_view.sale_off %>
            </div>
            <div class="px-3 mx-1 mt-2">
              <p class="my-0 sub-title text-gray-300 opacity-50 hover:color-hover transform hover:scale-105 duration-200"><%= product_view.category.name %></p>
              <p class="my-0 title hover:color-hover transform hover:scale-105 duration-200"><%= product_view.name %></p>
              <div class="rating text-warning font-size-14">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
              <div class="d-flex justify-content-center">
                <h6 class="font-baloo f2"><%= number_to_currency(product_view.product_meta.sale_price) %></h6>
                <h6 class="font-baloo ml-3 f3 d-flex justify-content-center flex-column">
                  <del><%= number_to_currency(product_view.product_meta.regular_price) %></del>
                </h6>
              </div>
              <!--              <p class="font-weight-bold hover:color-hover transform hover:scale-105 duration-200 font-fredoka f4 my-0"><%#= product.product_meta.regular_price %> $</p>-->
<!--              <div class="custom-btn mx-3 font-fredoka my-2">Add To Cart</div>-->
              <form action="<%= quick_view_product_path(id: product_view.id, product_id: product_view.id) %>" data-remote="true" method="post">
                <div class="d-flex justify-center button-wishlist px-2 py-2 my-3">
                  <button type="submit" formaction="<%= quick_view_product_path(id: product_view.id, product_id: product_view.id) %>" class="d-flex font-roboto outline-none-imp font-weight-bold align-items-center duration-500">
                    <i class="fa fa-heart mr-2 duration-500"></i>Add to Cart
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <!--  <div class="row">-->
  <!--    <div class="col-lg-3 col-sm-12 col-md-6 text-center">-->
  <!--      <div class="card opacity-anim">-->
  <%#= image_tag("product_5.jpg", alt: "Product", class: "transform image-product-item-height hover:scale-105 duration-500 object-cover") %>
  <!--        <div class="px-3 mx-1">-->
  <!--          <p class="my-0 sub-title">Product Category</p>-->
  <!--          <p class="my-0 title">Product</p>-->
  <!--          <div class="rating text-warning font-size-14">-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--          </div>-->
  <!--          <p class="font-weight-bold f3 my-0">$300.00</p>-->
  <!--          <div class="custom-btn mx-3">Add To Cart</div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-12 col-md-6 text-center">-->
  <!--      <div class="card opacity-anim">-->

  <%#= image_tag("product-11-450x494.jpg", alt: "Product", class: "transform image-product-item-height hover:scale-105 duration-500 object-cover") %>
  <!--        <div class="px-3 mx-1">-->
  <!--          <p class="my-0 sub-title">Product Category</p>-->
  <!--          <p class="my-0 title">Product</p>-->
  <!--          <div class="rating text-warning font-size-14">-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--          </div>-->
  <!--          <p class="font-weight-bold f3 my-0">$300.00</p>-->
  <!--          <div class="custom-btn mx-3">Add To Cart</div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-12 col-md-6 text-center">-->
  <!--      <div class="card opacity-anim">-->
  <%#= image_tag("product-09-414x414.jpg", alt: "Product", class: "transform image-product-item-height hover:scale-105 duration-500 object-cover") %>
  <!--        <div class="px-3 mx-1">-->
  <!--          <p class="my-0 sub-title">Product Category</p>-->
  <!--          <p class="my-0 title">Product</p>-->
  <!--          <div class="rating text-warning font-size-14">-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--          </div>-->
  <!--          <p class="font-weight-bold f3 my-0">$300.00</p>-->
  <!--          <div class="custom-btn mx-3">Add To Cart</div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-12 col-md-6 text-center">-->
  <!--      <div class="card opacity-anim">-->
  <%#= image_tag("product_7.jpg", alt: "Product", class: "transform image-product-item-height hover:scale-105 duration-500 object-cover") %>
  <!--        <div class="px-3 mx-1">-->
  <!--          <p class="my-0 sub-title">Product Category</p>-->
  <!--          <p class="my-0 title">Product</p>-->
  <!--          <div class="rating text-warning font-size-14">-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--            <span><i class="fas fa-star"></i></span>-->
  <!--          </div>-->
  <!--          <p class="font-weight-bold f3 my-0">$300.00</p>-->
  <!--          <div class="custom-btn mx-3">Add To Cart</div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--  </div>-->

</section>


<section class="mbr">
  <h1 class="text-center my-3 font-weight-bold text-uppercase">Get Fashion News</h1>
  <div class="row container-xl mx-auto">
    <div class="col-lg-4 col-sm-12 col-md-6 text-center">
      <div class="opacity-anim">
        <%= image_tag("blog post 3.jpg", alt: "Product", class: "card-img-top position-relative") %>
        <div class="px-3 mx-1 pt-3 rounded card-fashion w-75">
          <h4 class="my-0 title font-weight-bold f4">10 Best Laptops</h4>
          <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias dicta, esse facere
            harum ipsum laboriosam</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 text-center">
      <div class="opacity-anim">
        <%= image_tag("blog post 2.jpg", alt: "Product", class: "card-img-top position-relative") %>
        <div class="px-3 mx-1 pt-3 rounded card-fashion w-75">
          <h4 class="my-0 title font-weight-bold f4">10 Best Laptops</h4>
          <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias dicta, esse facere
            harum ipsum laboriosam</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 text-center">
      <div class="opacity-anim">
        <%= image_tag("blog_post_1.jpg", alt: "Product", class: "card-img-top position-relative") %>
        <div class="px-3 mx-1 pt-3 rounded card-fashion w-75">
          <h4 class="my-0 title font-weight-bold f4">10 Best Laptops</h4>
          <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias dicta, esse facere
            harum ipsum laboriosam</p>
        </div>
      </div>
    </div>
  </div>

</section>


