<!-- Service -->

<section class="mx-auto my-3 font-weight-lighter w-11/12">
  <div class="flex mx-auto mt-12">
    <div class="col-4 text-center">
      <i class="fas fa-dolly fa-3x"></i>
      <div class="h5 my-3">Priority Shipping</div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
    </div>

    <div class="col-4 text-center">
      <i class="fas fa-balance-scale fa-3x"></i>
      <div class="h5 my-3">Fuss Free Returns</div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
    </div>
    <div class="col-4 text-center">
      <i class="fas fa-user-cog fa-3x"></i>
      <div class="h5 my-3">In Home Setup</div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
    </div>

  </div>

  <!-- Service -->

  <div class="flex text-white mbr mx-auto border-dark p-0 my-0">
    <div class="col-lg-5 col-sm-12 my-3 cursor-pointer">
      <div class="h-100 img-container ">
        <%= image_tag("Image-28.jpg", alt: "Hero 1", class: "img-banner h-100") %>
      </div>
      <div class="center-inner z-10 text-white w-100">
        <h5>50% OFF TODAY</h5>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 my-3 p-0 cursor-pointer">
      <div class="h-100 img-container">
        <%= image_tag("blog post 3.jpg", alt: "Hero 1", class: "img-banner h-100") %>
      </div>
      <div class="center-inner z-10 text-white w-100 px-2">
        <h5>Discounted Laptops</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate deserunt dicta et expedita
          explicabo harum id in ipsa</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 my-3 cursor-pointer">
      <div class="h-100 img-container">
        <%= image_tag("hero 1.jpg", alt: "Hero 1", class: "img-banner h-100") %>
      </div>
      <div class="center-inner z-10 text-white w-100">
        <h5>Head Phones</h5>
        <button class="px-3 py-2 bg-gray-100 text-gray-800">Shop Now</button>
      </div>
    </div>

  </div>


  <section class="mbr">
    <h1 class="text-center my-3 font-weight-bold text-uppercase">featured product</h1>
    <div class="grid grid-cols-4 md:gap-4 xl:gap-8">
      <% @products_view.each do |product_view| %>
        <%= render 'products/product_item', product: product_view %>
      <% end %>
    </div>
  </section>

</section>

<%= render 'shared/new_letter' %>


<section class="mbr mx-auto my-3 font-weight-lighter w-11/12">
  <h1 class="text-center my-3 font-weight-bold text-uppercase">On Sale</h1>
  <div class="grid grid-cols-4 gap-8">
    <% @products_view_sale.each do |product_view| %>
    <%= render 'products/product_item_sale', product_view: product_view %>
    <% end %>
  </div>

</section>

<section class="my-24">
  <h1 class="text-center my-3 font-weight-bold text-uppercase">Get Fashion News</h1>
  <div class="flex container-xl mx-auto">
    <div class="col-lg-4 col-sm-12 col-md-6 text-center">
      <div class="opacity-anim">
        <%= image_tag("blog post 3.jpg", alt: "Product", class: "card-img-top position-relative") %>
        <div class="px-3 mx-1 pt-3 rounded card-fashion w-75">
          <h4 class="my-0 title font-weight-bold f4">10 Best Laptops</h4>
          <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias dicta, esse facere
            harum ipsum laboriosam</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 text-center">
      <div class="opacity-anim">
        <%= image_tag("blog post 2.jpg", alt: "Product", class: "card-img-top position-relative") %>
        <div class="px-3 mx-1 pt-3 rounded card-fashion w-75">
          <h4 class="my-0 title font-weight-bold f4">10 Best Laptops</h4>
          <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias dicta, esse facere
            harum ipsum laboriosam</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 text-center">
      <div class="opacity-anim">
        <%= image_tag("blog_post_1.jpg", alt: "Product", class: "card-img-top position-relative") %>
        <div class="px-3 mx-1 pt-3 rounded card-fashion w-75">
          <h4 class="my-0 title font-weight-bold f4">10 Best Laptops</h4>
          <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias dicta, esse facere
            harum ipsum laboriosam</p>
        </div>
      </div>
    </div>
  </div>

</section>


