<% order_view.product_carts.each do |product_cart| %>
  <div class="flex justify-center items-center px-4">
    <div class="w-6/12 font-bold f6 flex items-center py-2 px-4">
      <%= link_to remove_product_cart_from_cart_orders_path(:product_id => product_cart.id), method: :post, remote: true, class: "link-no-style" do %>
        <i class="fa fa-times-circle fa-lg"></i>
      <% end %>
      <div class="ml-8">
        <%= image_tag(product_first_img(product_cart.product), class: "img-avatar-size-big object-cover") %>
        <div>
          <h6 class="text-gray-800 mt-2"><%= product_cart.name %></h6>
          <% if product_cart.product.class.method_defined?(:product_attributes_values) %>
            <% product_cart.product.product_attributes_values.each do |attr| %>
              <div>
                <%= attr.product_attributes_name.name %>: <%= attr.value %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
    <div class="w-2/12 font-bold f6 text-gray-800"><%= product_cart.product.price_text %></div>
    <div class="w-2/12 font-bold f6 p-0">
      <div class="flex text-center mt-2">
        <button type="button" class="product-cart-qty-up px-2 border bg-light" data-id="<%= product_cart.id %>">
          <i class="fas fa-angle-up"></i>
        </button>
        <input type="number" name="quantity" id="product-cart-quantity-input-<%= product_cart.id %>" class="qty-input w-1/4 text-center border bg-light px-0-imp"
               readonly="readonly"
               value="<%= product_cart.quantity %>" placeholder="<%= product_cart.quantity %>" data-id="<%= product_cart.id %>">
        <button type="button" class="product-cart-qty-down px-2 border bg-light" data-id="<%= product_cart.id %>">
          <i class="fas fa-angle-down"></i>
        </button>
      </div>
    </div>
    <div class="w-2/12 font-bold f6 text-gray-800 text-right" id="product-total-<%= product_cart.id %>" data-price="<%= product_cart.product.price %>">$<%= product_cart.total %></div>
  </div>
  <hr>
<% end %>