<section class="mx-auto my-5 w-11/12">
  <hr class="color-fade">
  <div class="flex color-fade my-3">
    <div class="flex col-2 pl-0">
      <div class="col-4 pl-0">#</div>
      <div class="">Date</div>
    </div>
    <div class="col-2">Status</div>
    <div class="col-2">Items</div>
    <div class="col-2">Customer</div>
    <div class="col-1">Country</div>
    <div class="col-1">Delivery</div>
    <div class="col-1">Total</div>
    <div class="col-1">Paid</div>
  </div>
  <hr class="color-fade my-2">
  <% @orders.each do |order| %>
    <div>
      <div class="flex mt-2 ml-0">
        <div class="col-2 flex justify-content-start pl-0">
          <div class="col-4 pl-0">
            #<%= order.id %>
          </div>
          <div class="">
            <span class="font-bold"><%= order.created_at.to_formatted_s(:long_ordinal) %></span>
          </div>
        </div>

        <div class="col-2 font-bold">Ready to ship</div>
        <% order.product_carts.each do |product_cart| %>
          <div class="col-2"><%= product_cart.quantity %> x <%= product_cart.product.name %></div>
        <% end %>
        <div class="col-2"><%= order.user.email %></div>
        <div class="col-1"><%= order.country %></div>
        <div class="col-1">Next Day</div>
        <div class="col-1 font-bold"><%= order.total %></div>
        <div class="col-1"><i class="fa fa-check-circle"></i></div>
      </div>
      <hr class="color-fade my-2">
    </div>
  <% end %>
</section>