<section class="mx-auto my-5 w-11/12">
  <hr class="color-fade">
  <div class="flex color-fade my-3">
    <div class="flex w-2/12 pl-0">
      <div class="w-4/12 pl-0">#</div>
      <div class="">Date</div>
    </div>
    <div class="w-2/12">Status</div>
    <div class="w-2/12">Items</div>
    <div class="w-2/12">Customer</div>
    <div class="w-1/12">Country</div>
    <div class="w-1/12">Delivery</div>
    <div class="w-1/12">Total</div>
    <div class="w-1/12">Paid</div>
  </div>
  <hr class="color-fade my-2">
  <% @orders.each do |order| %>
    <div>
      <div class="flex mt-2 ml-0">
        <div class="w-2/12 flex justify-start pl-0">
          <div class="w-4/12 pl-0">
            #<%= order.id %>
          </div>
          <div class="">
            <span class="font-bold"><%= order.created_at.to_formatted_s(:long_ordinal) %></span>
          </div>
        </div>

        <div class="w-2/12 font-bold">Ready to ship</div>
        <% order.product_carts.each do |product_cart| %>
          <div class="w-2/12"><%= product_cart.quantity %> x <%= product_cart.product.name %></div>
        <% end %>
        <div class="w-2/12"><%= order.user.email %></div>
        <div class="w-1/12"><%= order.country %></div>
        <div class="w-1/12">Next Day</div>
        <div class="w-1/12 font-bold"><%= order.total %></div>
        <div class="w-1/12"><i class="fa fa-check-circle"></i></div>
      </div>
      <hr class="color-fade my-2">
    </div>
  <% end %>

</section>