<section class="w-75 mx-auto my-5 border-color-default border-solid border-1 rounded-md shadow-md py-3 pt-5 px-3">
  <div class="text-center flex justify-center mb-3">
    <h3><span class="text-gray-500">SHOPPING CART > CHECKOUT > </span> BUY </h3>
  </div>
  <div class="flex">
    <div class="col-6">
      <h3 class="font-weight-bold f5 mt-2">Order Details</h3>
      <hr>
      <% @order_view.product_carts.each do |product_cart| %>
        <div class="flex justify-between align-items-center">
          <span class="text-gray-600 f6"><%= p product_cart.name %></span>
          <span class="font-weight-bold f5"><%= p number_to_currency(product_cart.price) %></span>
        </div>
      <% end %>
      <hr class="mt-2">

      <!-- Subtotal -->
      <div class="flex justify-between align-items-center">
        <span class="text-gray-600 f6">Subtotal</span>
        <span class="font-weight-bold f5"><%= number_to_currency(@order_view.subtotal) %></span>
      </div>
      <div class="flex justify-between align-items-center mt-2">
        <span class="text-gray-600 f6">Total</span>
        <span class="font-weight-bold f5"><%= number_to_currency(@order_view.total) %></span>
      </div>
      <hr class="mt-2">
      <!-- !Subtotal -->

      <h3 class="font-weight-bold f5">Billing Address</h3>
      <hr>
      <div class="flex align-items-center">
        <i class="text-gray-600 f6 fa fa-location-arrow"></i>
        <span class="ml-3 font-weight-bold f5"><%= country_name(@order.country) %></span>
      </div>

      <div class="flex align-items-center mt-2">
        <i class="text-gray-600 f6 fa fa-street-view"></i>
        <span class="ml-3 font-weight-bold f5"><%= @order.city %></span>
      </div>

      <div class="flex align-items-center mt-2">
        <i class="text-gray-600 f6 fa fa-road"></i>
        <span class="ml-3 font-weight-bold f5"><%= @order.address %></span>
      </div>

      <div class="flex align-items-center mt-2">
        <i class="text-gray-600 f6 fa fa-mail-bulk"></i>
        <span class="ml-3 font-weight-bold f5"><%= @order.email %></span>
      </div>
      <hr class="mt-2">

    </div>

    <div class="col-5 ml-5 border-1 border-color-default border-solid pb-5 pt-3 px-5 rounded-sm height-min shadow-md">

      <i class="fa-2x flex text-green-800 justify-center text-center fab fa-think-peaks"></i>
      <h3 class="font-weight-bold f5 text-green-600 mt-2">Thank you! Your order has been received successful!</h3>

      <hr class="mt-2">
      <div class="flex align-items-center">
        <i class="text-gray-600 f6 fab fa-jedi-order"></i>
        <span class="ml-3 font-weight-bold f5">Order Number: </span>
        <span class="ml-3 text-gray-800 font-weight-bold f5"><%= @order.id %></span>
      </div>

      <div class="flex align-items-center mt-2">
        <i class="text-gray-600 f6 fa fa-calendar-day"></i>
        <span class="ml-3 font-weight-bold f5">Date: </span>
        <span class="ml-3 text-gray-800 font-weight-bold f5"><%= @order.created_at.to_formatted_s(:long_ordinal) %></span>

      </div>

      <div class="flex align-items-center mt-2">
        <i class="text-gray-600 f6 fa fa-envelope"></i>
        <span class="ml-3 font-weight-bold f5">Email: </span>
        <span class="ml-3 text-gray-800 font-weight-bold f5"><%= @order.email %></span>

      </div>

      <div class="flex align-items-center mt-2">
        <i class="text-gray-600 f6 fa fa-dollar-sign"></i>
        <span class="ml-3 font-weight-bold f5">Total: </span>
        <span class="ml-3 text-gray-800 font-weight-bold f5">$<%= @order.total %></span>

      </div>

      <div class="flex align-items-center mt-2">
        <i class="text-gray-600 f6 fa fa-credit-card"></i>
        <span class="ml-3 font-weight-bold f5">Payment Method: </span>
        <span class="ml-3 text-gray-800 font-weight-bold f5">Credit Card</span>

      </div>

    </div>
  </div>


</section>