<% num_form_variation ||= @attrs_list_values.size %>
<% num_start ||= 0 %>
<% expand ||= false %>
<%= simple_form_for(@product) do |form_product| %>
  <% @attrs_list_values.slice(num_start, num_form_variation).each_with_index do |attr_values, i| %>
    <%= form_product.simple_fields_for "product_variations_attributes[]", @product.product_variations[num_start + i], index: nil do |variation| %>
      <%= variation.simple_fields_for :product_meta, @product.product_variations[num_start + i].product_meta do |variation_meta| %>
        <div id="container-product-variation-<%= num_start + i %>" class="container-product-variation flex flex-col-reverse">
          <div class="flex flex-col-reverse container-product-variation-body container-fuck duration-200 max-h-screen overflow-hidden <%= "collapse-height" unless expand %>">

            <!-- Description -->
            <%= variation_meta.simple_fields_for :product_detail do |detail| %>
              <div class="field">
                <div class="control flex mt-2 justify-start child-mx-2-not-first">
                  <div class="flex flex-col w-full">
                    <%= detail.input :description, label: "Description", required: false, :as => :text,
                                     placeholder: "Description",
                                     input_html: {class: "input w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"},
                                     wrapper: false, label_html: {class: "label text-left"} %>
                  </div>
                </div>
              </div>
            <% end %>

            <!-- !Description -->

            <!-- Shipping -->
            <%= variation_meta.simple_fields_for :product_shipping do |shipping| %>

              <!-- Weight And Dimens -->
              <div class="field mt-2 flex child-mx-2-not-first">
                <!-- Weight -->
                <div class="control flex flex-col mt-2 justify-start w-full">
                  <%= shipping.input :weight, label: "Weight (kg)", required: false,
                                     placeholder: "1 kg",
                                     input_html: {class: "input w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"},
                                     wrapper: false, label_html: {class: "label text-left"} %>
                </div>
                <!-- !Weight -->

                <!-- Dimensions -->
                <div class="control flex flex-col mt-2 justify-start">
                  <label for="" class="text-left">Dimensions</label>

                  <div class="m-0 p-0 flex justify-between">
                    <div class="field w-4/12 column is-4 pl-0 pr-2">
                      <div class="control">
                        <!--                      <label class="label">Brand</label>-->
                        <div class="control">
                          <%= shipping.input :width, placeholder: "Width",
                                             input_html: {class: "input w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"},
                                             wrapper: false, label_html: {class: "hidden"} %>
                        </div>
                      </div>
                    </div>
                    <div class="field w-4/12 column is-4 px-1">
                      <div class="control">
                        <!--                      <label class="label">Finish</label>-->
                        <div class="control">
                          <%= shipping.input :height, placeholder: "Height",
                                             input_html: {class: "input w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"},
                                             wrapper: false, label_html: {class: "hidden"} %>
                        </div>
                      </div>
                    </div>
                    <div class="field w-4/12 column is-4 pr-0 pl-2">
                      <div class="control">
                        <!--                      <label class="label">Condition</label>-->
                        <div class="control">
                          <%= shipping.input :length, placeholder: "Length",
                                             input_html: {class: "input w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"},
                                             wrapper: false, label_html: {class: "hidden"} %>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- !Dimensions -->

              </div>
              <!-- !Weight And Dimens -->

              <div class="field">
                <div class="control flex mt-2 justify-start child-mx-2-not-first">
                  <div class="flex flex-col w-full">
                    <%= shipping.input :shipping_class, label: "Shipping class", required: false,
                                       placeholder: "Shipping class",
                                       input_html: {class: "input w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"},
                                       wrapper: false, label_html: {class: "label text-left"} %>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- !Shipping -->

            <!-- Stock Status -->
            <div class="field">
              <div class="control flex mt-2 justify-start child-mx-2-not-first">
                <div class="flex flex-col w-full">
                  <%= variation_meta.simple_fields_for :product_inventory do |inventory| %>
                    <%= inventory.input :stock_status, label: "Stock Status", required: false,
                                        placeholder: "Stock Status",
                                        input_html: {class: "input w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"},
                                        wrapper: false, label_html: {class: "label text-left"} %>
                  <% end %>

                </div>
              </div>
            </div>
            <!-- !Stock Status -->

            <!-- Price -->
            <div class="flex flex-col w-full">
              <%= variation_meta.simple_fields_for :product_sale_price do |sale_price| %>
                <div class="field mt-6">
                  <div class="control flex mt-2 justify-start items-center relative">
                    <%= sale_price.input :sale_date_start, as: :date, html5: true, label: "Sale Price Date Start", required: false,
                                         placeholder: "Sale Price",
                                         input_html: {class: "input flex-grow w-full mr-2 py-2 mr-6 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"}, wrapper: false, label_html: {class: "label w-4/12 flex-shrink-0 text-left absolute bottom-full"} %>
                    <%= sale_price.input :sale_date_start_time, as: :time, html5: true, required: false,
                                         placeholder: "Sale Price",
                                         input_html: {class: "input flex-grow w-full ml-2 py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"}, wrapper: false, label_html: {class: "label w-4/12 flex-shrink-0 text-left hidden"} %>

                  </div>

                  <div class="control flex mt-2 justify-start">
                  </div>

                </div>

                <div class="field mt-6">
                  <div class="control flex mt-2 justify-start relative">
                    <%= sale_price.input :sale_date_end, as: :date, html5: true, label: "Sale Price Date End", required: false,
                                         placeholder: "Sale Price",
                                         input_html: {class: "input flex-grow w-full mr-2 py-2 mr-6 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"}, wrapper: false, label_html: {class: "label w-4/12 flex-shrink-0 text-left absolute bottom-full"} %>

                    <%= sale_price.input :sale_date_end_time, as: :time, html5: true, required: false,
                                         placeholder: "Sale Price",
                                         input_html: {class: "input flex-grow w-full ml-2 py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"}, wrapper: false, label_html: {class: "label w-4/12  flex-shrink-0text-left, hidden"} %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="field">
              <div class="control flex mt-2 justify-start child-mx-2-not-first">

                <div class="flex flex-col w-full">
                  <%= variation_meta.simple_fields_for :product_detail do |detail| %>
                    <%= detail.input :regular_price, label: "Regular Price ($)", required: true,
                                     placeholder: "Price",
                                     input_html: {class: "input w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"},
                                     wrapper: false, label_html: {class: "label text-left"} %>
                  <% end %>

                </div>

                <div class="flex flex-col w-full">
                  <%= variation_meta.simple_fields_for :product_sale_price do |sale_price| %>
                    <%= sale_price.input :sale_price, label: "Sale Price ($)", required: false,
                                         placeholder: "Price",
                                         input_html: {class: "input w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"},
                                         wrapper: false, label_html: {class: "label text-left"} %>

                  <% end %>
                </div>

              </div>
            </div>

            <!-- !Price -->

            <!-- Image and sku -->
            <div class="field">
              <div class="control flex mt-2 justify-start child-mx-2-not-first">

                <div class="field mt-2 w-full">
                  <div class="control">
                    <div class="w-full cursor-pointer text-left button-file-upload-data-id" id="<%= "button-upload-file-variation-%s" % (num_start + i) %>" data-id="<%= num_start + i %>">
                      <% if @product.product_variations[num_start + i].product_meta.images.empty? %>
                        <i class="fa fa-3x fa-cloud-upload-alt text-blue-600"></i>
                      <% else %>
                        <%= image_tag(@product.product_variations[num_start + i].product_meta.images[0].url, class: "w-24 cursor-pointer") %>
                      <% end %>
                    </div>
                    <div class="flex absolute left-full w-0 h-0 hidden">
                      <span class="file-cta"><span class="file-icon"><i class="fa fa-upload"></i></span><span class="file-label">Choose a file…</span></span>
                      <%= variation_meta.file_field :images, required: true,
                                                    multiple: true,
                                                    as: :file,
                                                    label: "",
                                                    class: 'product-image-uploader',
                                                    id: "input-file-upload-%s" % (num_start + i),
                                                    input_html: {class: "input w-full file-input product-image hidden"},
                                                    wrapper: false, label_html: {class: "label text-left w-full"} %>
                    </div>


                  </div>
                </div>

                <div class="flex flex-col w-full">
                  <%= variation_meta.simple_fields_for :product_inventory do |inventory| %>
                    <%= inventory.input :sku, label: "SKU", required: false,
                                        :as => :string,
                                        placeholder: "SKU",
                                        input_html: {class: "input w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"},
                                        wrapper: false, label_html: {class: "label text-left"} %>
                  <% end %>
                </div>

              </div>
            </div>
            <!-- !Image and sku -->

          </div>
          <hr class="my-1">
          <div class="field mt-2">
            <div class="control flex mt-2 justify-start child-mx-2-not-first">
              <% attr_values.each_with_index do |attrs_value, index| %>
                <div class="w-full">
                  <!-- Extract the ith value for options select (values has value for difference attrs)                    -->
                  <%= variation.select :product_attributes_value_ids, options_for_select(@attrs_list_values.map { |attrs_values| [attrs_values[index].value, attrs_values[index].id] }.to_set, [attrs_value.value, attrs_value.id]), {}, :multiple => true %>
                  <%#= select_tag "variation", options_for_select(@attrs_list_values.map { |values| values[index] }, value) %>
                </div>
              <% end %>

              <div class="flex child-mx-2-not-first flex-grow">
                <i class="fa fa-bars m-auto"></i>
                <span id="variation-100" class="triangle m-auto flex flex-col justify-center self-center cursor-pointer toggle-collapse-variation"></span>
                <!--    btn remove variation form   -->
                <div class="btn-remove-variation-form cursor-pointer text-red-600 hover:text-red-800 self-center" data-index="<%= num_start + i %>">
                  Remove
                </div>
                <%#= link_to "Remove", new_order_path, class: "text-red-600 hover:text-red-800 self-center" %>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>