<section class="section">
  <%= simple_form_for(@product) do |f| %>
    <%= f.simple_fields_for :product_meta do |meta| %>

      <div class="flex background-white-grey">
        <div class="ml-3 w-9/12">
          <div class="text-center">

            <%= meta.simple_fields_for :product_detail do |detail| %>
              <div class="field">
                <div class="control">
                  <%= detail.input :name, label: "Product Name", required: true,
                                   placeholder: "Name",
                                   input_html: {class: "input w-full flex-grow w-full py-2 mt-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"}, wrapper: false, label_html: {class: "label text-left w-full block"} %>
                </div>
              </div>
              <div class="field mt-5">
                <div class="control">
                  <%= detail.input :description, as: :ckeditor, label: "Description", required: false,
                                   input_html: {class: "input w-full mt-2"}, wrapper: false, label_html: {class: "label text-left w-full block"} %>
                </div>
              </div>
            <% end %>

            <div class="field mt-5">
              <div class="control">
                <div class="flex">
                <span class="file-cta">
                <span class="file-icon"><i class="fa fa-upload"></i></span>
                <span class="file-label">Choose a file…</span>
                </span>
                  <%= meta.file_field :images, required: true,
                                      multiple: true,
                                      as: :file,
                                      label: "",
                                      class: 'product-image-uploader',
                                      input_html: {class: "input w-full file-input product-image"},
                                      wrapper: false, label_html: {class: "label text-left w-full"} %>
                </div>


              </div>
            </div>


            <!-- Carousel image preview -->
            <div class="carousel relative rounded relative overflow-hidden pr-4">
              <div class="carousel-inner relative overflow-hidden w-full">

                <div id="product-image-upload-preview-carousel">

                </div>

                <!-- Add additional indicators for each slide-->
                <ol class="carousel-indicators" id="product-image-upload-preview-carousel-indicators">
                  <li class="inline-block mr-3">
                    <label for="carousel-1"
                           class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
                  </li>
                </ol>

              </div>
            </div>
            <!-- !Carousel image preview -->

            <div class="section mt-5 border bg-white p-3 rounded-md">
              <div class="flex pr-2">
                <!-- Product Type -->
                <div class="flex-grow mt-1 mx-0 flex cursor-pointer py-2 color-primary-dark-bg text-white my-2">
                  <div class="w-2/12 px-4 text-left">
                    <i class="fas mt-1 fa-shipping-fast text-center"></i>
                  </div>
                  <p class="ml-3 f4">Product Type</p>
                </div>

                <div class="w-8/12 flex ml-3 py-2 child-my-auto child-py-2">
                  <%= select_tag "product_type", raw("<option value='normal'>Normal</option><option value='variation'>Variation</option>"), class: "px-8 w-full", id: "select-product-type" %>
                  <div id="button-change-product-type" class="color-primary-dark-bg text-white rounded-extra-lg py-2 px-4 cursor-pointer duration-1000 ml-2 width-min">OK</div>
                </div>
                <!-- !Product Type -->
              </div>

              <div id="form-meta">
                <%= render 'products/form_product_normal', product: @product %>
              </div>

            </div>

          </div>
        </div>
        <section class="mx-3 child-bg-white">
          <!-- Public -->
          <div class="border relative child-mx-2 rounded-md overflow-hidden">
            <div class="p-1 py-2 m-0-imp color-primary-dark-bg text-white">
              <p class="ml-1 f4 m-0">Publish</p>
            </div>
            <hr style="margin: 0 !important;">
            <div class="flex justify-between mt-3">
              <div class="custom-btn-wide rounded-extra-lg color-primary-dark-bg text-white">Save Draft</div>
              <div class="custom-btn-wide rounded-extra-lg color-primary-dark-bg text-white">Preview</div>
            </div>
            <div class="border-bottom">
              <div class="mx-0 mt-3 flex cursor-pointer d-block">
                <i class="fas fa-paperclip text-center w-6"></i>
                <span class="ml-3 f5 fw3">Status: <span class="font-weight-bold">Draft</span></span>
              </div>
              <div class="mx-0 mt-3 flex cursor-pointer d-block">
                <i class="fas fa-low-vision text-center w-6"></i>
                <span class="ml-3 f5 fw3">Visibility: <span class="font-weight-bold">Public</span></span>
              </div>
              <div class="mx-0 mt-3 flex cursor-pointer d-block">
                <i class="fas fa-gift text-center w-6"></i>
                <span class="ml-3 f5 fw3">Publish <span class="font-weight-bold">Immediately</span></span>
              </div>
              <div class="mx-0 my-3 flex d-block">
                <i class="fas fa-search text-center w-6"></i>
                <span class="ml-3 f5 fw3">Catalog visibility: <span class="font-weight-bold">Shop and search results</span></span>
              </div>
            </div>

            <div class="mx-0 my-3 flex cursor-pointer justify-between items-center">
              <div class="">
                <p class="d-block custom-btn-wide rounded-extra-lg color-primary-dark-bg text-white" href="#">Copy</p>
              </div>
              <div>
                <%= f.submit "Publish", class: 'custom-btn-wide rounded-extra-lg color-primary-dark-bg text-white' %>
              </div>
            </div>
            <div class="flex justify-between">
              <div class="custom-btn-wide rounded-extra-lg my-3 d-inline-block color-primary-dark-bg text-white" href="#">
                Move to Trash
              </div>
              <%= link_to 'Cancel', products_path, class: 'custom-btn-wide rounded-extra-lg my-3 d-inline-block color-primary-dark-bg text-white' %>
            </div>
          </div>
          <!-- !Public -->

          <!-- Product categories -->
          <div class="border relative child-mx-2 mt-3 rounded-md">
            <div class="p-1 py-2 m-0-imp color-primary-dark-bg text-white">
              <p class="f4 m-0 ml-1">Product categories</p>
            </div>
            <hr style="margin: 0 !important;">

            <div class="border mt-3 p-2">
              <div class="flex">
                <div>All categories</div>
                <div class="ml-2">Most Used</div>
              </div>
              <div class="flex mt-3">
                <input type="checkbox">
                <span class="f6 fw2 ml-1">Uncategorized</span>
              </div>
            </div>

            <div class="my-3" id="add_new_category">
              <div id="add_new_category" class="f6 flex cursor-pointer">
                <i class="fa fa-plus"><span class="ml-1">Add new category</span></i>
              </div>
              <div class="mt-2">
                <% unless @categories.blank? %>
                  <%= f.select :category_id, options_for_select(@categories.map { |s| [s.name, s.id] }) %>
                <% end %>
                <input type="text" name="category_name" required id="input_new_category" placeholder="New Category"
                       class="w-full px-2 py-2 rounded-lg font-medium border-gray-200 placeholder-gray-500 text-sm
                        focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800 my-2 <%= @categories.blank? ? "" : "hidden" %>">
                <%#= f.input_field :category_name,
                                  display: true,
                                  # collection: @categories,
                                  required: true,
                                  prompt: "Select Category",
                                  # input_html: {class: "hidden", id: "input_new_category"},
                                  # class: "hidden mt-3",
                                  id: "input_new_category",
                                  placeholder: "New Category",
                                  # autofocus: true,
                                  # input_html: {autocomplete: "email", class: "w-full px-2 py-2 rounded-lg font-medium border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800 my-2", place_holder: "email"},
                                  label_html: {class: "hidden"}

                %>
              </div>
            </div>

          </div>
          <!-- !Product categories -->

          <!-- Product Tag -->
          <div class="border relative mt-3 rounded-md overflow-hidden">
            <!--          <div class="m-0 flex cursor-pointer tab-panel background-hover-white py-2">-->
            <!--            <div class="w-2/12 text-left">-->
            <!--              <i class="fas mt-1 fa-ethernet text-center"></i>-->
            <!--            </div>-->
            <!--            <p class="ml-3 f4">Product Tags</p>-->
            <!--          </div>-->
            <div class="color-primary-dark-bg text-white p-1 py-2 m-0-imp">
              <p class="f4 ml-1 m-0">Product Tags</p>
            </div>
            <hr style="margin: 0 !important;">
            <div class="pl-2">
              <div class="my-2 flex">
                <input placeholder="Tags" type="text" class="input w-8/12 flex-grow w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800">
                <div class="custom-btn-normal ml-2 f6">Add</div>
              </div>
              <div class="my-3 custom-btn-wide rounded-extra-lg width-max">Choose from the most used</div>
            </div>

          </div>
          <!-- !Product Tag -->

          <!-- Product image -->
          <div class="border relative child-mx-2 mt-3 rounded-md overflow-hidden">
            <div class="color-primary-dark-bg text-white p-1 py-2 m-0-imp">
              <p class="f4 ml-1 m-0">Product Image</p>
            </div>
            <hr style="margin: 0 !important;">
            <!--            <div class="field mt-2 w-full">-->
            <!--              <div class="control">-->
            <!--                <div class="w-full cursor-pointer text-left button-file-upload-data-id" data-id="product-image">-->
            <!--                  <i class="fa fa-3x fa-cloud-upload-alt text-blue-600"></i>-->
            <!--                </div>-->
            <!--                <div class="flex position-absolute left-full w-0 h-0 hidden">-->
            <!--                  <span class="file-cta"><span class="file-icon"><i class="fa fa-upload"></i></span><span class="file-label">Choose a file…</span></span>-->
            <%#= meta.file_field :images, required: true,-->
<!--                                      multiple: true,-->
<!--                                      as: :file,-->
<!--                                      label: "",-->
<!--                                      class: 'product-image-uploader',-->
<!--                                      id: "input-file-upload-product-image",-->
<!--                                      input_html: {class: "input w-full file-input product-image hidden"},-->
                                      wrapper: false, label_html: {class: "label text-left w-full"} %>
            <!--                </div>-->


            <!--              </div>-->
            <!--            </div>-->

            <p class="custom-btn-wide rounded-extra-lg my-3 d-inline-block" href="#">Set product image</p>
          </div>
          <!-- !Product image -->

          <!-- Product gallery -->
          <div class="border relative child-mx-2 mt-3 rounded-md overflow-hidden">
            <div class="color-primary-dark-bg text-white p-1 py-2 m-0-imp">
              <p class="f4 ml-1 m-0">Product Gallery</p>
            </div>
            <hr style="margin: 0 !important;">
            <p class="custom-btn-wide rounded-extra-lg my-3 d-inline-block" href="#">Set product gallery</p>
          </div>
          <!-- !Product gallery -->


        </section>

      </div>

    <% end %>

  <% end %>

</section>


