<section id="form-add-to-cart">

  <%= form_for product, :url => add_to_cart_product_path, method: :post, remote: true do |f| %>

    <%#= hidden_field_tag(:product_id, product.id) %>
    <%#= f.hidden_field 'product_id', :value => params[:product_id] %>
    <input id="product_id" type="hidden" name="product_id" value="<%= product.id %>">
    <% attrs_of_product_variation(product).each do |name, values| %>
      <div class="mt-4">
        <div class="flex justify-between text-center text-center mt-2 child-mx-3-not-first">
          <h6 class="fw6 my-auto col-2 text-left px-0 text-capitalize"><%= name %>: &nbsp;</h6>
          <input type="hidden" name="<%= name %>" id="input-<%= name %>-add-to-cart" class="input-add-to-cart-hidden">
          <div class="flex flex-grow-1">
            <% values.each do |value| %>
              <div class="custom-btn-wide rounded-extra-lg text-capitalize input-add-to-cart-<%= name %>-select m-auto" data-name="<%= name %>" data-value="<%= value %>"><%= value %></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="mt-4">
      <div class="flex text-center mt-2">
        <h6 class="fw6 col-2 text-left my-auto px-0 mr-6">Quantity:</h6>
        <button type="button" class="qty-up px-2 border bg-light" data-id="<%= product.id %>">
          <i class="fas fa-angle-up"></i>
        </button>
        <input type="number" name="quantity" id="quantity-input-<%= product.id %>" class="qty-input w-25 text-center border px-2 bg-light"
               readonly="readonly"
               value="1" placeholder="1" data-id="prod1">
        <button type="button" class="qty-down px-2 border bg-light" data-id="<%= product.id %>">
          <i class="fas fa-angle-down"></i>
        </button>
      </div>
    </div>

    <div class="flex justify-between mt-4">

      <div class="button-cart flex px-3">
        <button type="submit" class="flex font-roboto outline-none-imp font-weight-bold align-items-center duration-500">
          <i class="fa fa-shopping-cart mr-3 duration-500"></i>Add to Cart
        </button>
      </div>

      <!--    <div class="button-wishlist d-inline-block">-->
      <!--      <button type="submit" formaction="<%#= add_to_wishlist_product_path(:product_id => product.id) %>" class="flex font-roboto outline-none-imp font-weight-bold align-items-center duration-500">-->
      <!--        <i class="fa fa-heart mr-3 duration-500"></i>Save to wishlist-->
      <!--      </button>-->
      <!--    </div>-->
      <div class="button-wishlist flex px-3">
        <button type="submit"
                formaction="<%= add_to_wishlist_product_path(:product_id => product.id) %>"
                class="flex font-roboto outline-none-imp font-weight-bold align-items-center duration-500">
          <i class="fa fa-heart mr-3 duration-500"></i>Save to wishlist
        </button>
      </div>

    </div>

    <div id="dock-add-to-cart" class="flex justify-center h-12 py-2 align-items-center position-fixed bottom-0 left-0 rounded-tl-lg rounded-tr-lg z-50 w-screen bg-white shadow-md border-1.5-default duration-500">
      <div class="flex align-items-center align-self-center mx-auto">
        <div class="mx-2 border shadow-md rounded-sm">
          <%= image_tag(product_first_img(product), class: "h-10") %>
        </div>
        <div class="mx-2 border shadow-md rounded-full">
          <p class="mx-2 f5 fw6"><%= product.product_meta.product_detail.name %></p>
        </div>
        <div class="mx-2 border shadow-md rounded-full">
          <p class="mx-2 fw6 f5" id="slider-product-cart-form-add-to-cart"><%= product.price_text %></p>
        </div>
        <div class="button-wishlist flex px-3 py-1">
          <button type="submit"
                  class="flex font-roboto outline-none-imp font-weight-bold align-items-center duration-500">
            <i class="fa fa-heart mr-3 duration-500"></i>Add to Cart
          </button>
        </div>
      </div>
      <div class="mr-4 position-absolute right-0">
        <i class="far fa-2x fa-arrow-alt-circle-up"></i>
      </div>
    </div>

  <% end %>
</section>
