<% col ||= 3 %>
<% sort ||= false %>
<div class="text-center cursor-pointer product-card <%= "grid-sort-#{col}" if sort %>">
  <div class="grid-sizer lg:w-3"></div>
  <div class="card opacity-anim overflow-hidden">
    <div class="bg-product-img py-8">
      <%= link_to product_path(product.id) do %>
        <%= image_tag(product_first_img(product), alt: "Product", class: "mix-blend-darken transform image-product-item-height hover:scale-105 w-full duration-500 object-contain") %>
      <% end %>
    </div>
    <div class="px-2 mx-1 mt-2">
      <% if product.category %>
        <p class="my-0 sub-title hover:color-hover transform hover:scale-105 duration-200 opacity-50"><%= product.category.name %></p>
      <% end %>
      <p class="my-0 title hover:color-hover transform hover:scale-105 duration-200"><%= product.product_meta.product_detail.name %></p>
      <div class="rating text-warning font-size-14">
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
        <span><i class="fas fa-star"></i></span>
      </div>
      <p class="font-bold hover:color-hover transform hover:scale-105 duration-200 font-fredoka f4 my-0 product-price"><%= product.price_text %></p>
      <form action="<%= quick_view_product_path(id: product.id, product_id: product.id) %>" data-remote="true" method="post">
        <button type="submit" class="flex justify-center button-wishlist px-4 py-2 my-3 mx-auto font-roboto outline-none-imp font-bold items-center duration-500">
          <i class="fa fa-heart mr-2 duration-500"></i>Add to Cart
        </button>
      </form>

    </div>
  </div>
</div>
