<p id="notice"><%= notice %></p>

<div class="container mx-auto mt-5">
  <div class="grid grid-gap-3-2">
    <% @products.each do |product| %>
      <div class="text-center cursor-pointer product-card">
        <div class="card opacity-anim overflow-hidden">
          <%= #noinspection RubyResolve
              link_to product_path(product) do %>
            <%= image_tag(product_first_img(product), alt: "Product", class: "card-img-top transform hover:scale-105 duration-500") %>
          <% end %>
          <div class="px-3 mx-1 mt-2">
            <p class="my-0 sub-title hover:color-hover transform hover:scale-105 duration-200"><%= product.category.name %></p>
            <p class="my-0 title hover:color-hover transform hover:scale-105 duration-200"><%= product.name %></p>
            <div class="rating text-warning font-size-14">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
            </div>
            <p class="font-weight-bold hover:color-hover transform hover:scale-105 duration-200 font-fredoka f4 my-0"><%= product.regular_price %> $</p>
            <div class="custom-btn mx-3 font-fredoka my-2">Add To Cart</div>
          </div>
        </div>
      </div>
      <!--      <div class="text-center">-->
      <!--        <div class="card opacity-anim">-->
      <%#= link_to product_path(product) do %>
      <%#= image_tag(product_first_img(product), alt: "Product", class: "card-img-top") %>
      <%# end %>
      <!--          <div class="px-3 mx-1">-->
      <!--            <p class="my-0 sub-title">Product Category</p>-->
      <!--            <p class="my-0 title">Product</p>-->
      <!--            <div class="rating text-warning font-size-14">-->
      <!--              <span><i class="fas fa-star"></i></span>-->
      <!--              <span><i class="fas fa-star"></i></span>-->
      <!--              <span><i class="fas fa-star"></i></span>-->
      <!--              <span><i class="fas fa-star"></i></span>-->
      <!--              <span><i class="fas fa-star"></i></span>-->
      <!--            </div>-->
      <!--            <p class="font-weight-bold f3 my-0">$300.00</p>-->
      <!--            <div class="custom-btn mx-3 my-2">Add To Cart</div>-->
      <!--          </div>-->

      <!--        </div>-->
      <!--      </div>-->
    <% end %>
  </div>
</div>
