<div class="my-5 mx-auto w-11/12">

  <div class="d-flex">
    <div>
      <h5 class="text-gray-800 font-weight-bold">SHOP</h5>
      <h5 class="text-gray-800 font-weight-bold">
        <span class="font-weight-normal text-gray-600">HOME&nbsp;/&nbsp;</span>SHOP</h5>
    </div>

  </div>
  <div class="d-flex mt-2">
    <div class="w-3/12 p-0 mr-5">
      <div class="control d-flex justify-content-start">
        <input type="text" placeholder="Search" class="input flex-grow-1 w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800 rounded-r-none-imp border-right-0">
        <div class="col-2 border-solid rounded-r-md bg-gray-800 cursor-pointer border-1 border-color-default p-0 m-0 align-items-center d-flex flex-column justify-content-center">
          <i class="fa fa-search text-gray-200"></i>
        </div>
      </div>

      <hr class="my-3">
      <h5 class="text-gray-800 p-0 f5 m-0 font-weight-bold text-uppercase">Filter By Prices</h5>
      <div class="control d-flex justify-content-start mt-3 p-0 m-0">
        <div class="min-max-slider w-100 text-right" data-legendnum="2">
          <label for="min">Minimum price</label>
          <input id="min" class="min" name="min" type="range" step="1" min="0" max="3000"/>
          <label for="max">Maximum price</label>
          <input id="max" class="max" name="max" type="range" step="1" min="0" max="3000"/>
        </div>
      </div>
      <div id="filter-btn" class="d-flex justify-center button-wishlist px-2 py-2 my-3">
        <button class="d-flex font-roboto outline-none-imp font-weight-bold align-items-center duration-500">
          <i class="fa fa-heart mr-2 duration-500"></i>Filter
        </button>
      </div>

      <hr class="my-3">
      <h5 class="text-gray-800 f5 p-0 m-0 font-weight-bold text-uppercase">Sales Products</h5>
      <div class="row m-0 p-0 my-3">
        <div>
          <%= image_tag('product_4.jpg', width: 64, height: 64, class: "img-size-small object-contain") %>
        </div>
        <div class="ml-3 d-flex flex-column justify-content-center">
          <p class="my-0">i-Phonez</p>
          <p class="fw6 f6 font-weight-bold text-gray-800">$600.00</p>
        </div>
      </div>

      <div class="row m-0 p-0 my-3">
        <div>
          <%= image_tag('product-9-300x330.jpg', width: 64, height: 64, class: "img-size-small object-contain") %>
        </div>
        <div class="ml-3 d-flex flex-column justify-content-center">
          <p class="my-0">Super Laptop</p>
          <p class="fw6 f6 font-weight-bold text-gray-800">$1600.00</p>
        </div>
      </div>

      <div class="row m-0 p-0 my-3">
        <div>
          <%= image_tag('product-11-450x494.jpg', width: 64, height: 64, class: "img-size-small object-contain") %>
        </div>
        <div class="ml-3 d-flex flex-column justify-content-center">
          <p class="my-0">Dell Laptop</p>
          <p class="fw6 f6 font-weight-bold text-gray-800">$800.00</p>
        </div>
      </div>

      <div class="row m-0 p-0 my-3">
        <div>
          <%= image_tag('product-10-300x330.jpg', width: 64, height: 64, class: "img-size-small object-contain") %>
        </div>
        <div class="ml-3 d-flex flex-column justify-content-center">
          <p class="my-0">E-Phones</p>
          <p class="fw6 f6 font-weight-bold text-gray-800">$600.00</p>
        </div>
      </div>


      <!-- Recently Viewed -->
      <hr class="my-3">
      <h5 class="text-gray-800 f5 p-0 m-0 font-weight-bold text-uppercase">Recently View Products</h5>
      <div class="row m-0 p-0 my-3">
        <div>
          <%= image_tag('product-11-450x494.jpg', width: 64, height: 64, class: "img-size-small object-contain") %>
        </div>
        <div class="ml-3 d-flex flex-column justify-content-center">
          <p class="my-0">Gaming Laptop</p>
          <p class="fw6 f6 font-weight-bold text-gray-800">$900.00</p>
        </div>
      </div>

      <div class="row m-0 p-0 my-3">
        <div>
          <%= image_tag('product-09-414x414.jpg', width: 64, height: 64, class: "img-size-small object-contain") %>
        </div>
        <div class="ml-3 d-flex flex-column justify-content-center">
          <p class="my-0">Samsung Phone</p>
          <p class="fw6 f6 font-weight-bold text-gray-800">$800.00</p>
        </div>
      </div>

      <div class="row m-0 p-0 my-3">
        <div>
          <%= image_tag('product_4.jpg', width: 64, height: 64, class: "img-size-small object-contain") %>
        </div>
        <div class="ml-3 d-flex flex-column justify-content-center">
          <p class="my-0">Smart Phone</p>
          <p class="fw6 f6 font-weight-bold text-gray-800">$600.00</p>
        </div>
      </div>

      <div class="row m-0 p-0 my-3">
        <div>
          <%= image_tag('pink watch.jpg', width: 64, height: 64, class: "img-size-small object-contain") %>
        </div>
        <div class="ml-3 d-flex flex-column justify-content-center">
          <p class="my-0">Apple Watch</p>
          <p class="fw6 f6 font-weight-bold text-gray-800">$500.00</p>
        </div>
      </div>
      <!-- !Recently Viewed -->

      <!-- Details -->
      <hr class="my-3">
      <h5 class="text-gray-800 f5 p-0 m-0 font-weight-bold text-uppercase">See Our Products</h5>
      <iframe class="mt-2" height="200" src="https://www.youtube.com/embed/yrV2WFXN8X4">
      </iframe>
      <!-- !Details -->

    </div>
    <div class="container mx-auto" id="container-product-grid-items-product-index">
      <%= render 'product_grid_items', products: @products %>
    </div>
  </div>

</div>
