<section id="product" class="py-3">
  <div class="mx-8">
    <div class="flex w-full relative my-5">
      <div class="col-sm-6 w-6/12 py-2">

        <div class="carousel relative rounded relative overflow-hidden pr-4">
          <div class="carousel-inner relative overflow-hidden w-full">

            <% if @product.product_variations.blank? %>
              <% @product.product_meta.images.each_with_index do |image, index| %>
                <input class="carousel-open" type="radio" id="carousel-<%= index + 1 %>" name="carousel" aria-hidden="true" hidden="" <%= 'checked=checked' if index == 0 %>>
                <div class="carousel-item absolute opacity-0" style="height: 500px;">
                  <div class="block h-full w-full bg-indigo-500 text-white text-5xl text-center">Slide 1</div>
                  <%= image_tag(image.url, alt: "Product", class: "img-fluid center-inner w-full h-100 object-contain") %>
                </div>
                <label for="carousel-<%= index + 1 - 1 < 1 ? @product.product_variations.size : index + 1 - 1 %>"
                       class="control-<%= index + 1 %> w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
                  class="fas fa-angle-left mt-3"></i></label>
                <label for="carousel-<%= index + 1 + 1 > @product.product_variations.size ? 1 : index + 1 + 1 %>"
                       class="next control-<%= index + 1 %> w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                  class="fas fa-angle-right mt-3"></i></label>

              <% end %>
            <% else %>
              <% @product.product_variations.each_with_index do |variation, index| %>
                <input class="carousel-open" type="radio" id="carousel-<%= index + 1 %>" name="carousel" aria-hidden="true" hidden="" <%= 'checked=checked' if index == 0 %>>
                <div class="carousel-item absolute" style="height: 500px;">
                  <div class="block h-full w-full">
                    <%= image_tag(variation.product_meta.images[0].url, alt: "Product", class: "img-fluid center-inner w-full h-100 object-contain") %>
                  </div>
                </div>
                <label for="carousel-<%= index + 1 - 1 < 1 ? @product.product_variations.size : index + 1 - 1 %>"
                       class="control-<%= index + 1 %> w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
                  class="fas fa-angle-left mt-3"></i></label>
                <label for="carousel-<%= index + 1 + 1 > @product.product_variations.size ? 1 : index + 1 + 1 %>"
                       class="next control-<%= index + 1 %> w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                  class="fas fa-angle-right mt-3"></i></label>
              <% end %>
            <% end %>


            <!-- Add additional indicators for each slide-->
            <ol class="carousel-indicators">
              <li class="inline-block mr-3">
                <label for="carousel-1"
                       class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
              </li>
              <li class="inline-block mr-3">
                <label for="carousel-2"
                       class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
              </li>
              <li class="inline-block mr-3">
                <label for="carousel-3"
                       class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
              </li>
              <li class="inline-block mr-3">
                <label for="carousel-4"
                       class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
              </li>
            </ol>

          </div>
        </div>


        <!-- Image showcase -->
        <div class="flex justify-center mt-5 child-mx-3-not-first">
          <% if @product.product_variations.blank? %>
            <% @product.product_meta.images.each do |image| %>
              <div class="bg-product-img">
                <%= image_tag(image.url, alt: "Product", class: "mix-blend-darken object-contain w-32 h-32") %>
              </div>
            <% end %>
          <% else %>
            <% @product.product_variations.each_with_index do |variation, index| %>
              <div class="bg-product-img">
                <%= image_tag(variation.product_meta.images[0].url, alt: "Product", class: "mix-blend-darken object-contain w-32 h-32") %>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- !Image showcase -->

      </div>
      <div class="col-sm-6 w-6/12 py-2">
        <h5 class="font-baloo font-size-20 f1 fw8 mb-0"><%= @product.product_meta.product_detail.name %></h5>
        <div class="flex items-center" id="product-price-container">
          <%= render 'product_price', regular_price: @product.regular_price_text,
                     sale_price: @product.sale_price_text %>
        </div>

        <div class="flex">
          <div class="rating text-warning font-size-14">
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="far fa-xs fa-star"></i></span>
          </div>
          <div>
            <span class="px-2 font-rale f6">4.4 / 5 &nbsp; (800 reviewers)</span>
          </div>
        </div>
        <hr class="m-0">

        <!-- Form Add to cart product -->
        <%= render('form_add_to_cart', product: @product) %>
        <!-- !Form Add to cart product -->

        <div class="tab-view">
          <!--        Tab Panel-->
          <div class="flex flex-cols-3 justify-between mt-5 tabs-panel relative text-center">
            <div class="col w-4/12 active tab-panel py-2">
              <p class="m-0">What's Inside</p>
            </div>
            <div class="col w-4/12 tab-panel py-2">
              <p class="m-0">Reviews</p>
            </div>
            <div class="col w-4/12 tab-panel py-2">
              <p class="m-0">FAQs</p>
            </div>
          </div>
          <!--         !Tab Panel-->

          <!--         Tab Content-->
          <div class="tabs-content tabs-content-vertical mbr">
            <div class="tab-content active">
              <div>
                <h6 class="fw6">Customizable items</h6>
                <div class="mt-5">
                  <div class="flex">
                    <%= image_tag(product_first_img(@product), width: '128px', height: '128px', class: 'fit-cover') %>
                    <div class="mt-3 ml-3">
                      <h6 class="fw6">One Yellow T-Shirt</h6>
                      <p class="color-fade font-baloo">Price: $32</p>
                      <p class="color-fade font-baloo">See product detail</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-content">
              <div>
                <h6 class="fw6">Customizable items</h6>
                <div class="mt-5">
                  <div class="flex">
                    <%= image_tag('banner 2.jpg', width: '128px', height: '128px', class: 'fit-cover') %>
                    <div class="mt-3 ml-3">
                      <h6 class="fw6">One Yellow T-Shirt</h6>
                      <p class="color-fade font-baloo">Price: $32</p>
                      <p class="color-fade font-baloo">See product detail</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-content">
              <div>
                <h6 class="fw6">Customizable items</h6>
                <div class="mt-5">
                  <div class="flex">
                    <%= image_tag('blog post 3.jpg', width: '128px', height: '128px', class: 'fit-cover') %>
                    <div class="mt-3 ml-3">
                      <h6 class="fw6">One Yellow T-Shirt</h6>
                      <p class="color-fade font-baloo">Price: $32</p>
                      <p class="color-fade font-baloo">See product detail</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--         !Tab Content-->
        </div>

      </div>
    </div>

  </div>
  <div class="w-8/12">

    <div style="overflow: hidden;min-height: 50vh" class="mbr justify-around ml-5">
      <div class="tab-view">
        <!-- Tab Panel -->
        <div class="flex justify-between mt-5 tabs-panel relative text-center">
          <div class="w-4/12 active tab-panel py-2">
            <p class="m-0">Description</p>
          </div>
          <div class="w-4/12 tab-panel py-2">
            <p class="m-0">Reviews</p>
          </div>
          <div class="w-4/12 tab-panel py-2">
            <p class="m-0">FAQs</p>
          </div>
        </div>
        <!-- !Tab Panel -->

        <!-- Tab Content -->
        <div class="tabs-content tabs-content-vertical mbr">
          <div class="tab-content active">
            <div>
              <h6 class="font-baloo f3 fw8">Product Description</h6>
              <div class="font-size-14 child-p-font-baloo fw4"><%= raw(@product.product_meta.product_detail.description) %></div>
            </div>
          </div>
          <div class="tab-content">
            <h4 class="fw6">Reviews From Customer</h4>
            <h5 class="fw5">Ratings</h5>
            <div class="text-center w-25">
              <h5 class="f1 m-0">4.5</h5>
              <div class="flex justify-center justify-center flex-column">
                <div class="rating text-warning font-size-14">
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                </div>
              </div>
              <p>450 Reviews</p>
            </div>
            <div id="comment-container">
              <div id="comment-form-container">
                <% if current_user %>
                  <%= simple_form_for(@comment, url: add_comment_products_path, html: {class: "w-full", id: "new-comment-form"}, remote: true) do |f| %>
                    <div class="heading">
                      <div class="flex mt-br">
                        <%= image_tag("blog post 3.jpg", class: 'img-avatar') %>
                        <div class="ml-2 flex items-center w-full">
                          <%= f.input :message, label: "Description", required: false,
                                      placeholder: "Commenting publicly as #{current_user.username}",
                                      input_html: {class: "input w-full border-b"}, wrapper: false, label_html: {class: "label text-left w-full d-none"} %>
                        </div>
                        <%= f.input :product_id, :as => :hidden, input_html: {value: @product.id} %>
                      </div>
                    </div>
                    <div class="flex text-center mt-2">
                      <%= f.submit 'Comment', class: "custom-btn-wide font-fredoka font-weight-lighter" %>
                      <div class="custom-btn-wide ml-3 font-fredoka font-weight-lighter">Answer</div>
                    </div>
                    </div>
                  <% end %>
                <% end %>
                </div>
            <div class="heading">
              <div class="flex mt-br">
                <%= image_tag("blog post 3.jpg", class: 'img-avatar') %>
                <div class="ml-2">
                  <div class="fw5">Guys Customer</div>
                  <span class="font-baloo">21 October, 2020</span>
                </div>
              </div>
              <div class="my-3 rating text-warning font-size-14">
                <span><i class="fas fa-xs fa-star"></i></span>
                <span><i class="fas fa-xs fa-star"></i></span>
                <span><i class="fas fa-xs fa-star"></i></span>
                <span><i class="fas fa-xs fa-star"></i></span>
                <span><i class="fas fa-xs fa-star"></i></span>
              </div>
              <div class="mt-2">
                <h6 class="font-baloo f2">Very Satisfy</h6>
                <p class="font-roboto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam
                  architecto atque blanditiis,
                  debitis dolorum ea est fuga, harum id in qui sed ullam velit vero? Ducimus iusto sint
                  voluptatibus.</p>
              </div>
              <div class="flex text-center mt-2">
                <div class="custom-btn-wide font-fredoka font-weight-lighter">Like</div>
                <div class="custom-btn-wide ml-3 font-fredoka font-weight-lighter">Answer</div>
              </div>
            </div>
            <% @comments.each do |comment| %>
              <div class="heading" id="comment-<%= comment.id %>">
                <div class="flex mt-br">
                  <%= image_tag("blog post 3.jpg", class: 'img-avatar') %>
                  <div class="ml-2">
                    <div class="fw5"><%= comment.user.username %></div>
                    <span class="font-baloo"><%= comment.created_at.to_formatted_s(:long_ordinal) %></span>
                  </div>
                </div>
                <div class="my-3 rating text-warning font-size-14">
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                </div>
                <div class="mt-2">
                  <h6 class="font-baloo f2">Very Satisfy</h6>
                  <p class="font-roboto">
                    <%= comment.message %>
                  </p>
                </div>
                <div class="flex text-center mt-2">
                  <% if current_user.like_record?(comment) %>
                    <div class="btn-like custom-btn-wide liked font-fredoka font-weight-lighter" data-id="<%= comment.id %>" data-type="<%= comment.class %>">Liked</div>
                  <% else %>
                    <div class="btn-like custom-btn-wide font-fredoka font-weight-lighter" data-id="<%= comment.id %>" data-type="<%= comment.class %>">Like</div>
                  <% end %>
                  <div class="btn-add-reply custom-btn-wide ml-3 font-fredoka font-weight-lighter link-no-style" data-id="<%= comment.id %>">Answer</div>
                </div>
                <div id="reply-expander-<%= comment.id %>" class="mt-3 font-baloo transition-all duration-200">
                  <% unless comment.replies.load.blank? %>
                    <div id="btn-show-replies-<%= comment.id %>" class="btn-show-replies cursor-pointer" data-id="<%= comment.id %>">View <%= comment.replies.size %>
                      replies
                    </div>
                  <% end %>
                </div>

              </div>

            <% end %>

          </div>
          <div class="tab-content">
            <div>
              <h6 class="fw6">FAQ</h6>
              <div class="mt-5">
                <div class="flex">
                  <div class="col-2 w-2/12 text-center">
                    <p>1</p>
                    <p>Like</p>
                  </div>
                  <div>
                    <p class="fw7 font-roboto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
                      assumenda beatae
                      blanditiis deleniti eos iste minima mollitia natus, neque nihil omnis</p>
                    <p class="fw4 mt-3 text-color-subtitle-dark">Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit. Accusantium, consequatur
                      corporis culpa dolor fugit illum ipsa libero mollitia nulla, numquam, perferendis quisquam quod
                      reprehenderit tempora temporibus ut veritatis voluptate voluptatibus!</p>
                    <div class="flex text-center mt-2 mt-3">
                      <div class="custom-btn-wide font-fredoka font-weight-lighter">Like</div>
                      <div class="custom-btn-wide ml-3 font-fredoka font-weight-lighter">Answer</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- !Tab Content -->
    </div>
  </div>

  <section class="px-16">
    <h3 class="my-3">Related Products</h3>
    <div class="flex flex-auto flex-cols-5 child-px-2-not-first">
      <% @product_upsells.each do |product| %>
        <%= render 'products/product_item_simple', product: product %>
      <% end %>
    </div>
  </section>

</section>

