<section id="product" class="py-3">
  <div class="container">
    <div class="flex position-relative my-5">
      <div class="col-sm-6 py-2">
        <div id="carouselExampleControls" class="carousel slide my-auto" data-ride="carousel" <%= @product.product_variations.blank? ? "" : "data-interval=false" %>>
          <ol class="carousel-indicators">
            <% if @product.product_variations.blank? %>
              <% @product.product_meta.images.each_with_index do |_, index| %>
                <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="bg-red-800 <%= index == 0 ? "active" : "" %>"></li>
              <% end %>
            <% else %>
              <% @product.product_variations.each_with_index do |_, index| %>
                <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="bg-red-800 <%= index == 0 ? "active" : "" %>"></li>
              <% end %>
            <% end %>
          </ol>
          <div class="carousel-inner" id="list" role="listbox" style="height: 32rem">

            <% if @product.product_variations.blank? %>
              <% @product.product_meta.images.each_with_index do |image, index| %>
                <div class="carousel-item h-full w-full <%= index == 0 ? "active" : "" %>">
                  <%= image_tag(image.url, alt: "Product", class: "img-fluid center-inner w-100 h-100 object-contain") %>
                </div>
              <% end %>
            <% else %>
              <% @product.product_variations.each_with_index do |variation, index| %>
                <%# variation.product_meta.images.each_with_index do |image, index| %>
                <div class="carousel-item h-full w-full <%= index == 0 ? "active" : "" %>">
                  <%= image_tag(variation.product_meta.images[0].url, alt: "Product", class: "img-fluid center-inner w-100 h-100 object-contain") %>
                </div>
                <%# end %>
              <% end %>
            <% end %>

          </div>
          <a class="carousel-control-prev filter-invert" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next filter-invert" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!--        <div class="form-flex pt-4 font-size-16 font-baloo position-absolute" style="bottom: 10%;-->
        <!--        width: 80%; left: 10%">-->
        <!--          <div class="col">-->
        <!--            <button type="submit" class="btn btn-danger form-control">Buy</button>-->
        <!--          </div>-->
        <!--          <div class="col">-->
        <!--            <button type="submit" class="btn btn-warning form-control">Add to Cart</button>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="flex mt-5 justify-between mx-5">
          <div>
            <%= image_tag(product_first_img(@product), alt: "Product", class: "object-contain w-32 h-32") %>
          </div>
          <div>
            <%= image_tag("product-9-300x330.jpg", alt: "Product", class: "object-container w-32 h-32") %>
          </div>
          <div>
            <%= image_tag("product_7.jpg", alt: "Product", class: "object-contain w-32 h-32") %>
          </div>
        </div>

      </div>
      <div class="col-sm-6 py-2">
        <!--        <span class="font-baloo f4 font-weight-normal">Category: <%#= @product.category.name %></span>-->
        <h5 class="font-baloo font-size-20 f1 fw8 mb-0"><%= @product.product_meta.product_detail.name %></h5>
        <div class="flex" id="product-price-container">
          <%= render 'product_price', regular_price: @product.regular_price_text,
                     sale_price: @product.sale_price_text %>
        </div>

        <div class="flex">
          <div class="rating text-warning font-size-14">
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="far fa-xs fa-star"></i></span>
          </div>
          <div>
            <span class="px-2 font-rale f6">4.4 / 5 &nbsp; (800 reviewers)</span>
          </div>
        </div>
        <hr class="m-0">

        <!-- product price  -->

        <!-- Form Add to cart product -->
        <%= render('form_add_to_cart', product: @product) %>
        <!-- !Form Add to cart product -->

        <div class="tab-view">
          <!--        Tab Panel-->
          <div class="flex justify-between mt-5 tabs-panel position-relative text-center">
            <div class="col active tab-panel py-2">
              <p class="m-0">What's Inside</p>
            </div>
            <div class="col tab-panel py-2">
              <p class="m-0">Reviews</p>
            </div>
            <div class="col tab-panel py-2">
              <p class="m-0">FAQs</p>
            </div>
          </div>
          <!--         !Tab Panel-->

          <!--         Tab Content-->
          <div class="tabs-content tabs-content-vertical mbr">
            <div class="tab-content active">
              <div>
                <h6 class="fw6">Customizable items</h6>
                <div class="mt-5">
                  <div class="flex">
                    <%= image_tag(product_first_img(@product), width: '128px', height: '128px', class: 'fit-cover') %>
                    <div class="mt-3 ml-3">
                      <h6 class="fw6">One Yellow T-Shirt</h6>
                      <p class="color-fade font-baloo">Price: $32</p>
                      <p class="color-fade font-baloo">See product detail</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-content">
              <div>
                <h6 class="fw6">Customizable items</h6>
                <div class="mt-5">
                  <div class="flex">
                    <%= image_tag('banner 2.jpg', width: '128px', height: '128px', class: 'fit-cover') %>
                    <div class="mt-3 ml-3">
                      <h6 class="fw6">One Yellow T-Shirt</h6>
                      <p class="color-fade font-baloo">Price: $32</p>
                      <p class="color-fade font-baloo">See product detail</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-content">
              <div>
                <h6 class="fw6">Customizable items</h6>
                <div class="mt-5">
                  <div class="flex">
                    <%= image_tag('blog post 3.jpg', width: '128px', height: '128px', class: 'fit-cover') %>
                    <div class="mt-3 ml-3">
                      <h6 class="fw6">One Yellow T-Shirt</h6>
                      <p class="color-fade font-baloo">Price: $32</p>
                      <p class="color-fade font-baloo">See product detail</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--         !Tab Content-->
        </div>

      </div>
    </div>

  </div>
  <div class="col-8">

    <div style="overflow: hidden;min-height: 50vh" class="mbr justify-around ml-5">
      <div class="tab-view">
        <!-- Tab Panel -->
        <div class="flex justify-between mt-5 tabs-panel position-relative text-center">
          <div class="col active tab-panel py-2">
            <p class="m-0">Description</p>
          </div>
          <div class="col tab-panel py-2">
            <p class="m-0">Reviews</p>
          </div>
          <div class="col tab-panel py-2">
            <p class="m-0">FAQs</p>
          </div>
        </div>
        <!-- !Tab Panel -->

        <!-- Tab Content -->
        <div class="tabs-content tabs-content-vertical mbr">
          <div class="tab-content active">
            <div>
              <h6 class="font-baloo f3 fw8">Product Description</h6>
              <div class="font-size-14 child-p-font-baloo fw4"><%= raw(@product.product_meta.product_detail.description) %></div>
            </div>
          </div>
          <div class="tab-content">
            <h4 class="fw6">Reviews From Customer</h4>
            <h5 class="fw5">Ratings</h5>
            <div class="text-center w-25">
              <h5 class="f1 m-0">4.5</h5>
              <div class="flex justify-center justify-center flex-column">
                <div class="rating text-warning font-size-14">
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                </div>
              </div>
              <p>450 Reviews</p>
            </div>
            <div id="comment-container">
              <div id="comment-form-container">
                <% if current_user %>
                  <%= simple_form_for(@comment, url: add_comment_products_path, html: {class: "w-100", id: "new-comment-form"}, remote: true) do |f| %>
                    <div class="heading">
                      <div class="flex mt-br">
                        <%= image_tag("blog post 3.jpg", class: 'img-avatar') %>
                        <div class="ml-2 flex align-items-center w-100">
                          <%= f.input :message, label: "Description", required: false,
                                      placeholder: "Commenting publicly as #{current_user.username}",
                                      input_html: {class: "input w-100 border-b"}, wrapper: false, label_html: {class: "label text-left w-100 d-none"} %>
                        </div>
                        <%= f.input :product_id, :as => :hidden, input_html: {value: @product.id} %>
                      </div>
                    </div>
                    <div class="flex text-center mt-2">
                      <%= f.submit 'Comment', class: "custom-btn-wide font-fredoka font-weight-lighter" %>
                      <div class="custom-btn-wide ml-3 font-fredoka font-weight-lighter">Answer</div>
                    </div>
                    </div>
                  <% end %>
                <% end %>
                </div>
            <div class="heading">
              <div class="flex mt-br">
                <%= image_tag("blog post 3.jpg", class: 'img-avatar') %>
                <div class="ml-2">
                  <div class="fw5">Guys Customer</div>
                  <span class="font-baloo">21 October, 2020</span>
                </div>
              </div>
              <div class="my-3 rating text-warning font-size-14">
                <span><i class="fas fa-xs fa-star"></i></span>
                <span><i class="fas fa-xs fa-star"></i></span>
                <span><i class="fas fa-xs fa-star"></i></span>
                <span><i class="fas fa-xs fa-star"></i></span>
                <span><i class="fas fa-xs fa-star"></i></span>
              </div>
              <div class="mt-2">
                <h6 class="font-baloo f2">Very Satisfy</h6>
                <p class="font-roboto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam
                  architecto atque blanditiis,
                  debitis dolorum ea est fuga, harum id in qui sed ullam velit vero? Ducimus iusto sint
                  voluptatibus.</p>
              </div>
              <div class="flex text-center mt-2">
                <div class="custom-btn-wide font-fredoka font-weight-lighter">Like</div>
                <div class="custom-btn-wide ml-3 font-fredoka font-weight-lighter">Answer</div>
              </div>
            </div>
            <% @comments.each do |comment| %>
              <div class="heading" id="comment-<%= comment.id %>">
                <div class="flex mt-br">
                  <%= image_tag("blog post 3.jpg", class: 'img-avatar') %>
                  <div class="ml-2">
                    <div class="fw5"><%= comment.user.username %></div>
                    <span class="font-baloo"><%= comment.created_at.to_formatted_s(:long_ordinal) %></span>
                  </div>
                </div>
                <div class="my-3 rating text-warning font-size-14">
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                  <span><i class="fas fa-xs fa-star"></i></span>
                </div>
                <div class="mt-2">
                  <h6 class="font-baloo f2">Very Satisfy</h6>
                  <p class="font-roboto">
                    <%= comment.message %>
                  </p>
                </div>
                <div class="flex text-center mt-2">
                  <% if current_user.like_record?(comment) %>
                    <div class="btn-like custom-btn-wide liked font-fredoka font-weight-lighter" data-id="<%= comment.id %>" data-type="<%= comment.class %>">Liked</div>
                  <% else %>
                    <div class="btn-like custom-btn-wide font-fredoka font-weight-lighter" data-id="<%= comment.id %>" data-type="<%= comment.class %>">Like</div>
                  <% end %>
                  <div class="btn-add-reply custom-btn-wide ml-3 font-fredoka font-weight-lighter link-no-style" data-id="<%= comment.id %>">Answer</div>
                </div>
                <div id="reply-expander-<%= comment.id %>" class="mt-3 font-baloo transition-all duration-200">
                  <% unless comment.replies.load.blank? %>
                    <div id="btn-show-replies-<%= comment.id %>" class="btn-show-replies cursor-pointer" data-id="<%= comment.id %>">View <%= comment.replies.size %>
                      replies
                    </div>
                  <% end %>
                </div>

              </div>


            <% end %>

          </div>
          <div class="tab-content">
            <div>
              <h6 class="fw6">FAQ</h6>
              <div class="mt-5">
                <div class="flex">
                  <div class="col-2 text-center">
                    <p>1</p>
                    <p>Like</p>
                  </div>
                  <div>
                    <p class="fw7 font-roboto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
                      assumenda beatae
                      blanditiis deleniti eos iste minima mollitia natus, neque nihil omnis</p>
                    <p class="fw4 mt-3 text-color-subtitle-dark">Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit. Accusantium, consequatur
                      corporis culpa dolor fugit illum ipsa libero mollitia nulla, numquam, perferendis quisquam quod
                      reprehenderit tempora temporibus ut veritatis voluptate voluptatibus!</p>
                    <div class="flex text-center mt-2 mt-3">
                      <div class="custom-btn-wide font-fredoka font-weight-lighter">Like</div>
                      <div class="custom-btn-wide ml-3 font-fredoka font-weight-lighter">Answer</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- !Tab Content -->
    </div>

    <section class="px-16">
      <h3 class="my-3">Related Products</h3>
      <div class="flex flex-auto">
        <% @product_upsells.each do |product| %>
          <div class="text-center cursor-pointer product-card col-4">
            <div class="card opacity-anim overflow-hidden">
              <%= link_to product_path(product) do %>
                <%= image_tag(product_first_img(product), alt: "Product", class: "transform image-product-item-height hover:scale-105 w-full duration-500 object-contain") %>
              <% end %>
              <div class="px-2 mx-1 mt-2">
                <% if product.category %>
                  <p class="my-0 sub-title hover:color-hover transform hover:scale-105 duration-200 opacity-50"><%= product.category.name %></p>
                <% end %>
                <p class="my-0 title hover:color-hover transform hover:scale-105 duration-200"><%= product.product_meta.product_detail.name %></p>
                <div class="rating text-warning font-size-14">
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                </div>
                <p class="font-weight-bold hover:color-hover transform hover:scale-105 duration-200 font-fredoka f4 my-0"><%= product.price_text %></p>
                <form action="<%= quick_view_product_path(id: product.id, product_id: product.id) %>" data-remote="true" method="post">

                  <div class="flex justify-center button-wishlist px-2 py-2 my-3">
                    <button type="submit" class="flex font-roboto outline-none-imp font-weight-bold align-items-center duration-500">
                      <i class="fa fa-heart mr-2 duration-500"></i>Add to Cart
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
  </div>
</section>

